dd {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(0, 0, 0);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(85, 85, 85);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(85, 85, 85);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(85, 85, 85);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: block;
font-family: Verdana, Arial, sans-serif;
font-size: 14px;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 2px;
margin-left: 0px;
margin-right: 0px;
margin-top: -2px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
overflow-x: auto;
overflow-y: auto;
padding-bottom: 14.296875px;
padding-left: 31.453125px;
padding-right: 31.453125px;
padding-top: 14.296875px;
position: relative;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.298039) -1px -1px 0px;
top: 1px;
zoom: 1;
}

dt a {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(9, 114, 165);
background-image: url(../../web/css/images/ui-bg_highlight-hard_20_0972a5_1x100.png);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(38, 179, 247);
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(38, 179, 247);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(38, 179, 247);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(38, 179, 247);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
color: rgb(255, 255, 255);
cursor: pointer;
display: block;
font-family: Verdana, Arial, sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
padding-bottom: 5px;
padding-left: 25px;
padding-right: 0px;
padding-top: 5px;
position: relative;
text-decoration: none;
text-rendering: optimizelegibility;
text-shadow: rgba(0, 0, 0, 0.298039) -1px -1px 0px;
zoom: 1;
display: block;
font-size: 1em;
color: #ffffff;
text-decoration: none;
}

dt a:hover {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-image: none;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(0, 49, 71);
background-image: url(../../web/css/images/ui-bg_highlight-soft_33_003147_1x100.png);
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(11, 147, 213);
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(11, 147, 213);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(11, 147, 213);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(11, 147, 213);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
cursor: pointer;
display: block;
font-family: Verdana, Arial, sans-serif;
font-weight: normal;
line-height: 18px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 5px;
padding-bottom: 5px;
padding-left: 25px;
padding-right: 0px;
padding-top: 5px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
position: relative;
text-rendering: optimizelegibility;
text-shadow: rgba(0, 0, 0, 0.298039) -1px -1px 0px;
zoom: 1;
font-size: 1em;
color: #ffffff;
text-decoration: none;
}
