/* universal */

html {
  overflow-y: scroll;

}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color:white;
}

h1 {
  font-size:x-large;
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



/* Catalog Page */
.row {
	margin:5px;
	text-align:center
}
.row .example {
	border:2px solid white;
	margin:5px;
	width:240px;
	height:220px;
	display:-moz-inline-stack;
    display:inline-block;
    *display: inline;
}
.row .example a:link {color:white;text-decoration:none;}
.row .example a:hover {color:skyblue;text-decoration:none;}
.row .example a:visited {color:grey;text-decoration:none;}
.row .example a img { border: 0; }

.overlay {
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	color:#FFF;
	font-size:10pt;
	width:560px;
	height:320px;
	background:#222;
	pointer-events:all;
	opacity:0.98;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    visibility: hidden;
}

.overlay a:link {color:white;text-decoration:none;}
.overlay a:hover {color:white;text-decoration:underline;}
.overlay a:visited {color:white;text-decoration:none;}

.exit-button {
	text-align:right;
	position:relative;
	top:8px;
	right:10px;
}

.app-title {
	font-size:1.2em;
	text-align:left;
}

.overlayContent {
	display:none;
}

.instances {
	float:right;
	text-align:left;
	width:150;
	padding-left:5px;
	padding-right:20px;
}

.description {
	float:left;
	text-align:left;
	width:350;
	padding-left:20px;
	padding-right:5px;
}


/* Documentation Page */

.navmenu {
	color:#444456;
	width:200px;
	float:left;
	position:relative;
	left:-30px;
	margin-top: 75px;
}
.navmenu a:visited {
	color:#3366CC;
}
.navmenu ul {
	list-style:none;
	font:10pt Arial;
	text-transform:uppercase;
	border-right: thin solid;
}
.navmenu ul li {
	padding-bottom:5px;
}
.navmenu ul li a:link {
	color:#3366CC;
	text-decoration:none;
}
.navmenu ul li a:hover {
	color:#3399FF;
}

.content {
	width:800px;
	display:inline;
	float:right;
}
.content iframe {
	width:780px;
	height:300px;
	display:inline;
	overflow-x:auto;
	overflow-y:auto;
}
.content pre {
	border:1px solid #AAA;
	background:#DDD;
	padding:10px;
	width:760px;
	overflow-y:scroll;
}
.content h1 {
	font: 18pt Arial;
	font-weight:bold;
}
.content h2 {
	font: 14pt Arial;
	font-weight:bold;
}




/* 



body {
	font: 12pt Arial;
	text-align:center;
	overflow-y:scroll;
	min-width:1000px;
}
a:link {
	text-decoration:none;
}
.header {
	font:22pt Arial;
	font-weight:bold;
	width:1000px;
	margin:auto;
	text-align:left;
	padding:20px;
	padding-bottom:5px;
	border-bottom:2px solid #666678;
}
.header .title {
	color:#666678;
	padding:20px;
	/* display:inline; */
	/* position:relative; */
	/* top:-30px; 
}
.header .menu {
	font:10pt Arial;
	text-transform:uppercase;
	color:#444456;
	width:100%;
	text-align:right;
	/*float:right;
	position:relative;
	top:-10px;
}
.header .menu a:link {
	color:#444456;
	text-decoration:none;
}
.header .menu a:visited {
	color:#444456;
}
.header .menu a:hover {
	color:#AAAABB;
}

.full {
	width:800px;
	display:inline;
	margin:auto;
}
.full h1 {
	font: 18pt Arial;
	font-weight:bold;
}
.full h2 {
	font: 14pt Arial;
	font-weight:bold;
}


*/