body {
    background-color: #6C87A4;
    min-width:520px;
}
div.wrapper {
	width:99%;
	position:absolute;
	bottom:30px;
	pointer-events:none;
}
div.toolstyle {
	border-style:solid;
	border-color:#000;
	border-width:1px;
	border-radius: 6px;
	padding: 5px;
	opacity: .6;
	box-shadow: 0px 30px 10px 0px #222 inset, 0px 0px 0px 0px #000;
	text-align:center;
	background:#333;
	width:1000px;
	height:32px;
	margin:auto;
	pointer-events:all;
}