div.wrapper {
	width:99%;
	position:absolute;
	bottom:30px;
	pointer-events:none;
}
div.toolstyle {
	padding: 5px;
	text-align:center;
	width:240px;
	height:45px;
	margin:auto;
	pointer-events:all;
}