body {
    background-color: #6C87A4;
    min-width:520px;
}
div.wrapper  {
	width:99%;
	text-align:center;
	position:absolute;
	top:20px;
	pointer-events:none;
}
div.toolstyle {
	border-style:solid;
	border-color:#000;
	border-width:1px;
	border-radius: 6px;
	padding: 5px;
	opacity: .6;
	box-shadow: 0px 30px 10px 0px #222 inset, 0px 0px 0px 0px #000;
	text-align:center;
	position:absolute;
	left:20px;
	background:#333;
	width:520px;
	height:45px;
	margin:auto;
	pointer-events:all;
}
div.logostyle {
	top:-45px;
	position:relative;
}
