body {
	font: 12pt Arial;
	text-align:center;
	overflow-y:scroll;
	min-width:900px;
}
.header {
	font:22pt Arial;
	font-weight:bold;
	width:800px;
	margin:auto;
	text-align:left;
	padding:20px;
	padding-bottom:5px;
	border-bottom:2px solid #666678;
}
.header .title {
	color:#666678;
	padding:20px;
	/* display:inline; */
	/* position:relative; */
	/* top:-30px; */
}
.row {
	margin:5px;
}
.row .example {
	border:2px solid black;
	margin:5px;
	width:240px;
	height:220px;
	display:-moz-inline-stack;
    display:inline-block;
    *display: inline;
}
.row .example a:link {color:black;text-decoration:none;}
.row .example a:hover {color:black;text-decoration:none;}
.row .example a:visited {color:black;text-decoration:none;}
.row .example a img { border: 0; }


	