/*!CK:3643378768!*//*1394425841,178137887*/

._5cya{margin-top:8px;padding:0 4px;text-align:center}
._5cya ._5cyb{float:left}
._5cya ._5cyc{float:right}
._5cya.adUnitSliderSimplified{margin-bottom:3px;margin-top:0;padding:0;width:120px}
._5cya.adUnitSliderSimplified ._5cyd ._5k1a{padding-top:4px}
._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
._5vwa{display:inline-block}
.fbEmuMainBody .firstPassiveName{font-weight:bold}
.fbEmuPremium .fbEmuStreamAttachment{margin-bottom:3px}
.fbEmuStreamStory .fbEmuStreamAttachment.fbEmuStreamOGAction{border-top:1px solid #e5e7eb;border-bottom:1px solid #e5e7eb;padding-top:6px;padding-bottom:6px;margin-bottom:5px}
.fbEmuStreamStory .fbEmuStreamAttachment.fbEmuStreamLinkStory{border-top:1px solid #e5e7eb;border-bottom:1px solid #e5e7eb;border-left:1px solid #e5e7eb;border-right:1px solid #e5e7eb;margin-bottom:5px;margin-right:4px}
.fbEmuStreamStory .fbEmuStreamAttachment.fbEmuStreamLinkStory .centeredImageWrapper{border-right:1px solid #e5e7eb;display:table-cell;vertical-align:middle}
.fbEmuMarketplace .fbEmuStreamAttachment.fbEmuStreamLinkStory .centeredImageWrapper{height:58px;width:50px}
.fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamLinkStory .centeredImageWrapper{height:87px;width:74px}
.fbEmuStreamStory .fbEmuStreamAttachment.fbEmuStreamLinkStory .centeredImageWrapper img{margin:0 auto}
.fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamLinkStory .centeredImageWrapper img{max-height:87px;max-width:74px}
.fbEmuMarketplace .fbEmuStreamAttachment.fbEmuStreamLinkStory .centeredImageWrapper img{max-height:58px;max-width:50px}
.fbEmuStreamStory .whitespaceLink{display:inline}
.fbEmuStreamStory .whitespaceLink:hover
.fbEmuStreamAttachment.fbEmuStreamOGAction{border-top:1px solid #c4cde1;border-bottom:1px solid #c4cde1}
.fbEmuStreamStory.fbEmuStreamAttachment.fbEmuStreamLinkStory:hover{border-top:1px solid #c4cde1;border-bottom:1px solid #c4cde1;border-left:1px solid #c4cde1;border-right:1px solid #c4cde1}
.fbEmuStreamStory .fbEmuStreamAttachment.fbEmuStreamLinkStory:hover .centeredImageWrapper{border-right:1px solid #c4cde1}
.fbEmuStreamStory .fbEmuStreamAttachment.fbEmuStreamOGAction .fbEmuStreamTitle{margin-top:4px}
.fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamPhotoStory{margin-bottom:2px}
.fbEmuStreamAttachment.fbEmuStreamEventStory a.fbEmuStreamTitle, .fbEmuPicStory a.fbEmuStreamTitle, .fbEmuLikeMessage{color:gray}
.fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamOGAction img, .fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamEventStory img{max-height:75px;max-width:75px}
.fbEmuMarketplace .fbEmuStreamAttachment.fbEmuStreamEventStory img, .fbEmuStreamStory .fadPageAttachment img{max-height:50px;max-width:50px}
.fbEmuStreamAttachment.fbEmuStreamLinkStory ._24x{margin-right:5px}
.fbEmuPicStory a.fbEmuStreamTitle, .fbEmuStreamAttachment.fbEmuStreamEventStory .fbEmuStreamAttachmentBlock a{font-weight:normal}
.fbEmuStreamAttachment.fbEmuStreamLinkStory .fbEmuStreamTitle{font-weight:bold;padding-top:4px}
.fbEmuMarketplace .fbEmuStreamAttachment.fbEmuStreamPhotoStory img, .fbEmuMarketplace .fbEmuStreamAttachment.fbEmuStreamPhotoStory i{max-height:90px;max-width:118px}
.fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamPhotoStory img, .fbEmuPremium .fbEmuStreamAttachment.fbEmuStreamPhotoStory i{max-height:128px;max-width:168px}
.fbEmuStreamStory .uiVideoThumb.fbEmuLargeThumb{margin-right:0}
.fbEmuMarketplace .uiVideoThumb.fbEmuLargeThumb img{display:block;height:72px;max-height:72px;max-width:128px}
.fbEmuPremium .uiVideoThumb.fbEmuLargeThumb img{height:104px;display:block;max-height:104px;max-width:185px}
.fbEmuStreamStory .uiStreamMessage{font-weight:normal}
.fbEmuStreamStory .fbEmuStreamTitle{display:block;font-weight:bold}
.fbEmuStreamStory .fbEmuStreamBody{color:#666}
.fbEmuStreamStory .uiPhotoThumb{display:inline-block}
.fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, .fbEmuStreamStory .fbEmuStreamLinkStory:hover{text-decoration:underline}
.fbEmuStreamStory .whitespaceLink:hover{cursor:pointer}
.fbEmuStreamStory .messageBody .whitespaceLink:hover, .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#eceff5}
.fbEmuStreamStory .fbEmuStreamLinkStory:hover{background-color:#f6f7f9}
.fbEmuStreamStory .whitespaceLink:hover a.uiBlingBox{text-decoration:none}
.fbEmuStreamStory .whitespaceLink:hover .uiBlingBox{background-color:#eceff5}
.fbEmuStreamStory .fbEmuStreamPhotoStory:hover .uiPhotoThumb{border:1px solid #3b5998}
.fbEmuStreamStory .uiVideoThumb{display:inline-block;margin-right:5px}
.fbEmuStreamStory .uiVideoThumb img{height:auto}
.fbEmuStreamStory .uiVideoThumb.fbEmuSmallThumb img{max-width:60px}
.fbEmuStreamStory .fbEmuStreamAttachment .uiPhotoThumb img{margin:3px}
.fbEmuStreamStory .textOnly{word-wrap:break-word}
.fbEmuStreamStory .textWithMedia{word-wrap:break-word}
.fbEmuStreamAttachmentOffset{border-left:2px solid #ccc;padding-left:4px}
.fbEmuStreamAttachmentOffset .fbEmuPicStory, .fbEmuStreamStory .fbEmuStreamAttachmentOffset .textOnly{border-left:0;padding-left:0}
.fbEmuStreamStory .uiUfi .ufiItem{padding:3px 3px 2px}
.fbEmuStreamStory .uiBlingBox .text{line-height:normal}
.fbEmuStreamStory .uiBlingBox{margin-right:-1px;margin-left:-1px}
.fbEmuStreamStory .uiBlingBox .img{margin-top:-1px}
.fbEmuStreamStory .fbTimelineFeedbackComments{float:left;padding-right:3px}
.fbEmuStreamStory .fbTimelineFeedbackLikes{float:left;padding-right:3px}
.fbFeedTickerStory .fbEmuStreamStory .fbEmuStreamAttachment img{width:32px;height:32px}
.fbFeedTickerStory .fbEmuStreamAttachment .fbEmuStreamAttachmentBlock{height:32px}
._5qrt .fbEmuStreamAttachment{margin-bottom:0}
.fbEmuStream .title{font-weight:bold;line-height:13px;margin-right:20px}
.fbEmuStream .fbEmuContext{margin-bottom:2px}
.fbEmuStream .action{margin:2px 0 1px 0}
.fbEmuStream .body{line-height:13px}
.fbEmuStreamBlockQuote{border-left:2px solid #ccc;padding:0 0 3px 8px}
.fbEmuStream .text_exposed_link{padding:0 0 0 5px}
.fbEmuStreamAttribution{color:gray}
.bassLike{margin-top:2px}
.fbEmuStreamStory{padding-top:1px}
.fbEmuComboList .fbEmuComboListHeader{background-color:#ccc;border-top:1px solid #ccc;margin:13px 0 8px 0;padding:0;position:relative}
.fbEmuComboList .fbEmuComboListHeader .fbEmuComboListHeaderText{background-color:#fff;color:#999;font-size:9px;font-weight:bold;left:0;margin-left:32px;padding:0 8px;position:absolute;top:-6px}
.fbEmuStreamStory .tickerStoryBlock .uiStreamMessage .passiveName, .fbEmuStreamStory .uiStreamMessage .actorName.firstName, .fbEmuStreamStory .uiStreamMessage .passiveName.firstName{font-weight:bold}
.fbEmuStreamStory .uiStreamMessage .actorName, .fbEmuStreamStory .uiStreamMessage .passiveName{font-weight:normal}
.loggedOutSponsorship .iframeOuter{height:400px}
@media (min-height: 830px){.loggedOutSponsorship .iframeOuterResizable{height:472px}
}
.loggedOutAuxLinks a.dismiss{background-image:url(/rsrc.php/v2/yD/r/BE57I-Gef_l.png);background-repeat:no-repeat;background-size:auto;background-position:-217px -481px;color:gray;display:inline-block;height:9px;width:9px}
.loggedOutPageInfo{background-color:#fff;border:1px solid #c4cde0;border-width:0 1px 2px;-webkit-border-radius:0 0 3px 3px;padding:20px 25px;position:relative}
.loggedOutPageInfo .info{margin:0 0 6px 152px}
.loggedOutPageInfo h2 a{color:#1c2a47;font-size:20px}
.loggedOutPageInfo .actions{float:right}
.loggedOutSponsorship .imageContainer{background:rgba(0, 0, 0, .3);-webkit-border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .07);display:block;left:23px;margin-top:-92px;padding:1px;position:absolute}
.loggedOutSponsorship .loggedOutPageInfo .profilePic{background-color:#fff;border:4px solid #fff;-webkit-border-radius:2px;height:125px;overflow:hidden;position:relative;width:125px}
.loggedOutSponsorship .scaledImage{width:100%;height:auto;position:relative}
.loggedOutSponsorship .scaledImageFitWidth{position:relative}
.loggedOutSponsorship .gradient div.gradientContent{padding:25px 0 42px;width:851px}
.loggedOutSponsorship .coverContainer{-webkit-border-radius:0 0 3px 3px;-webkit-box-shadow:0 0 25px 1px #cacaca}
.loggedOutSponsorship .iframeOuter, .loggedOutSponsorship .coverOuter{overflow:hidden;position:relative}
.loggedOutSponsorship .coverOuter{height:315px}
.loggedOutSponsorship .coverLinkShare{display:inline-block}
.loggedOutSponsorship iframe, .loggedOutSponsorship .coverLinkShare, .loggedOutSponsorship .coverVideo{height:100%;width:100%}
.loggedOutSponsorship .coverLinkShare, .loggedOutSponsorship .coverVideo{max-height:315px;max-width:851px}
.loggedOutSponsorship .coverLinkShare img, .loggedOutSponsorship .coverVideo img{max-height:315px;max-width:851px}
.loggedOutSponsorship .pagePost{-webkit-box-shadow:0 0 10px 1px rgba(0, 0, 0, .15);float:right;margin:-110px 20px 0 0;padding:15px;position:relative;width:234px}
.loggedOutSponsorship .uiBlingBox{margin-left:42px}
.loggedOutSponsorship .fbEmuStreamLinkStory img{max-height:75px;max-width:75px}

#bootloader_V_REr { height: 42px; }
.bootloader_V_REr { display:block !important; }