body
{
    background:#FFFFFF;
    font-family: "Trebuchet MS",Tahoma,Geneva,Arial,Helvetica,sans-serif;
    font-size:11px;
    padding:0px;
    margin:0px;
    overflow:hidden;
    color:#3B5998;
}

a, a:hover, a:visited {
    color:#ff8200;
    cursor:pointer;
    text-decoration:none;
}

#gameContainer {
    position: relative;
    /*top: 10px;*/
    left: 0px;
    width: 755px;
    height: 650px;
    margin-top: 10px;
}

#links {
    position: relative;
    height: 30px;
    width: 755px;
    text-align: right;
    color:#333333;
}

.tos {
    padding: 10px;
}

#privacyLinkReturn {
    width: 755px;
	height: 30px;
    text-align: right;
}

#fanContainer {
    width: 755px;
    height: 600px;
    position: absolute;
    display: none;
    left: 100px;
    top: 0px;
}

#fanBox {
    background:url('../images/fan/background.png') no-repeat 0 0;
    width: 500px;
    height: 400px;
    position: relative;
    top: 200px;
    padding-left: 180px;
    padding-top: 70px;
}

#fanBoxTitle {
    font-family: "Trebuchet MS",Tahoma,Geneva,Arial,Helvetica,sans-serif;
    font-size:16px;
    width: 240px;
    height: 92px;
    margin-left: -15px;
    margin-top:-40px;
    position: absolute;
    overflow:hidden;
    word-wrap:normal;
    text-align: center;
    color:#754f26;
}

#fanBoxFb {
    margin-left: -20px;
    margin-top: 40px;
    position: absolute;
}

#fanBoxClose {
    background:url('../images/fan/button_close.png') no-repeat 0 0;
    width: 43px;
    height: 45px;
    position: absolute;
    margin-left: 280px; 
    margin-top: -80px;
    cursor: pointer;
}

#fanBoxClose:hover {
    background:url('../images/fan/button_close_mo.png') no-repeat 0 0;
}

#requestBox {
    xbackground-color:#fff;
    width: 755px;
    height: 650px;
    overflow:hidden;
    position: relative;
    top: 1px;
    left: 20px;
    padding-left: 0px;
    padding-top: 37px;
}
    
#requestBox h1 {
        margin-left:110px;
    }

#requestImage {
    float:left;
    width: 90px;
    height: 90px;
    overflow:hidden;
    padding-left:10px;
    padding-right:10px;
}

#requestBoxClose {
    width: 44px;
    height: 46px;
    position: absolute;
    margin-left: 270px;
    margin-top: -50px;
}

#privacyContainer, #faqContainer {
    position: relative;
    top: 1px;
    width: 755px;
    left: 0px;
    display: none;
    color: #000000;
    background-color: #ffffff;
}

#footer {
    position: relative;
    top: 820px;
}

#bottomBanner {
   position:relative;
   margin-top: 10px;
   width: 760px;
   /*margin-bottom:25px;*/
}

#bottomBanner img{
  border-style:none;
}

.fluidWidth {
    margin-left:auto;
    margin-right:auto;
}

#kingBlingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 755px;
    height: 650px;
    display: none;
}

#sendToMobile {
    position: absolute;
    bottom: -6px;
    left: 0px;
    visibility: hidden;
}

.ig-b- {
    display: inline-block;
}

.ig-b- img {
    visibility: hidden;
}

.ig-b-v-24 {
    width: 137px;
    height: 24px;
    background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-v-24 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
        background-size: 160px 178px;
    }
}

