/*!CK:4007459711!*//*1394332319,178137887*/

.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
._5vw9{margin:2px 0 4px;position:relative}
._y92 ._5vw9{margin:0}
._y92 ._5vw9 .emu_x, div._5ciw ._y92 ._5vw9 .emu_x{position:absolute;right:4px;top:0;z-index:10}
._3fyp ._y92 ._5vw9 .emu_x, ._y92._3fyq ._5vw9 .emu_x{top:4px}
._y92 ._5vw9 .emu_x .uiSelectorButton{background-color:#fff;border:0}
._5vw9:hover a{text-decoration:none}
._5vw9:hover .emu_x .uiSelectorButton{opacity:1}
._5qrt ._5vw9{margin:0}
._5vw3{color:#999;font-size:11px}
._5p3y ._5vw3{font-size:12px}
._5qrt ._5vwe{padding-bottom:4px}
._5vwj{padding-top:3px}
._5vwj ._5vwk{color:#333;font-size:11px;line-height:13px}
._5p3y ._5vwj ._5vwk{font-size:12px;line-height:1.28}
._y92 ._5vwj ._5vwk{color:#898f9c}
._3fyp ._y92 ._5vwj ._5vwk{color:#141823;font-size:11px}
._5vwb{display:block}
._5vwb ._5vwc{display:inline;position:relative}
._5vwb ._5vwd{color:#777;display:inline;font-size:11px;line-height:13px;position:relative}
._y92 ._5vwb ._5vwd{color:#898f9c}
._5qrt ._5vwb ._5vwd{line-height:16px}
._5p3y ._5vwb ._5vwd{font-size:12px}
._3fyp ._y92 ._5vwb ._5vwd{font-size:11px}
._5vw4{padding-bottom:3px;padding-top:6px;position:relative}
._5qrt ._5vw4{padding-bottom:0;padding-top:8px}
._y92 ._5vw4, ._5qrt._y92 ._5vw4{padding:0}
._5vw5{width:100px}
._5vw5 .img{max-height:72px;max-width:100px}
._5wai{width:110px}
._5wai .img{max-height:80px;max-width:110px}
._5vw6{width:128px}
._5vw6 .img{max-height:72px;max-width:128px}
._5vw4 ._5vw7 i{background-image:url(/rsrc.php/v2/yN/r/aERK2-5sOBX.png);bottom:6px;height:22px;left:3px;position:absolute;width:27px}
._5vw8{display:table-cell;vertical-align:middle;width:120px}
._5vw8 .img{max-height:90px;max-width:120px}
._5vwg{font-size:11px;line-height:13px}
._5vwg ._5vwh{color:#3b5998}
._5vwg ._4xvg{color:#999}
._5p3y ._5vwg{font-size:12px;line-height:16px}
._5p3y ._5vwg ._4xvg{color:#898f9c}
._5p3y ._y92 ._5vwg{font-size:12px;line-height:1.28;padding-top:10px}
._5p3y ._y92 ._5vwg ._4xvg{color:#3b5998;font-size:12px;line-height:1.28}
._3fyp ._y92 ._5vwg, ._3fyp ._y92 ._5vwg ._4xvg{font-size:11px}
._4-eo{-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .41);display:block}
._5vsj ._4-eo{display:inline-block}
._5v3q ._4-eo{-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05);position:relative}
._5v3q ._4-eo::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5l6u ._4-eo{-webkit-box-shadow:none}
._9_q ._4-eo{width:initial !important}
._4vcx ._50z9, ._4vcx ._50z9 ._517g{height:526px !important}
._4vcx ._50z9 img{top:0 !important}
._9_q{background:#000;-webkit-box-shadow:none}
._9_q ._4-ep{margin:0 auto}
._2rn3{display:inline-block}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9 .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._8_9 .ego_unit .ego_x, ._8_9 .ego_unit .emu_x{margin-right:-11px}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate .ego_title, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._5qrt ._1opv{position:relative}
._5qrt ._1opv .ego_x{position:absolute;right:0;top:6px}
._5qrt ._1opv:first-child .ego_x{top:8px}
.ego_x{float:right;opacity:0}
.ego_unit:hover .ego_x{opacity:1}
.ego_image .img{vertical-align:bottom}
.ego_image_tiny .img{height:32px;width:32px}
.ego_image_small .img{height:50px;width:50px}
.ego_image_medium .img{width:80px}
.ego_title{display:block;font-weight:bold;line-height:13px;max-width:162px;word-wrap:break-word}
.ego_page .UIStandardFrame_Container{padding-left:0;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_column{width:244px}
.ego_section{margin-bottom:15px}
.ego_section .async_saving a{display:none}
.ego_section .indicator{display:none}
.ego_section .async_saving .indicator{display:inline}
.ego_section .adsCategoryIcon{vertical-align:-1px}
.ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adsCategoryTitleLink{color:#666}
._5ds2{clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute;visibility:hidden}
div.egoProfileTemplate div{margin-top:2px;line-height:13px}
div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}
div.egoProfileTemplateSubtitle{color:gray}
.photosCroppedThumbHighlighted{background-color:#edeff4;border-color:#3b5998}
._5vpr{color:#777;padding:2px 0}
._5vps{padding-left:5px}
.stars_breakdown .title{border-bottom:1px solid #3a3a3a;padding-bottom:5px;margin-bottom:6px}
.stars_breakdown .gray_bar{margin-left:4px;margin-right:4px;background:#3b3b3b;height:8px}
.stars_breakdown .white_bar{background:white;height:8px}
.stars_breakdown .uiStarWhite{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -175px;display:inline-block;height:11px;width:11px}
.stars_breakdown .stars{padding-top:1px;text-align:right}
.stars_breakdown table{border-spacing:0}
.stars_breakdown td{padding:0}
.stars_breakdown .star_number{text-shadow:0 0 1px black}
._561s{line-height:13px;margin-top:2px}
._53ee{margin-top:-5px}
._53ee._5vlm{border-bottom:1px solid #e9e9e9}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
html ._5h3q{margin-left:10px;margin-top:4px;padding:2px 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
html ._5ba_ ._58op{margin-top:3px}
html ._5ba_._5h3r ._54bc{padding-right:0}
._6nw ._5ba_._5h3r ._54bc{padding-right:40px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
.sp_3lobhc{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:13px;width:13px}
.sx_3e377b{width:11px;height:11px;background-position:0 -175px}
.sx_5d70b7{width:20px;height:20px;background-position:0 0}
.sx_612f8e{width:20px;height:20px;background-position:0 -21px}
.sx_ed31bb{background-position:0 -105px}
.sx_00b814{width:20px;height:20px;background-position:0 -42px}
.sx_431bf1{background-position:0 -119px}
.sx_f75d63{width:20px;height:20px;background-position:0 -63px}
.sx_dd37c2{background-position:0 -133px}
.sx_17cefc{background-position:0 -147px}
.sx_9da4cf{width:20px;height:20px;background-position:0 -84px}
.sx_50bffe{background-position:0 -161px}
._5pan{margin-left:18px}
._5pc6{display:none;text-align:center}
._5pc7, ._5pc7:hover{display:block;text-decoration:none}
.async_saving ._5pc6{display:block}
.async_saving ._5pc7{display:none}
._5pbz{border-top:1px solid #e9e9e9;margin-top:12px;padding-top:10px}
._5va0{border-top:0;margin-top:10px;padding-top:0}
._5va1{border:1px solid #e5e5e5;-webkit-border-radius:3px;margin-top:10px;padding:12px}
._5pbz ._5pcr{position:relative}
._5va0 ._44b2{display:block;line-height:32px;margin:0 -10px -10px;text-align:center}
._5va0 ._44b2:hover{background-color:#f4f4f6;-webkit-border-radius:2px;text-decoration:none}
.uiStars{display:inline-block;position:relative;vertical-align:middle}
.uiStars i{display:inline-block;height:13px;width:13px}
.uiStars .emptyStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -147px}
.uiStars .onefourthStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -119px}
.uiStars .halfStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -105px}
.uiStars .threefourthsStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -161px}
.uiStars .fullStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -133px}
.largeStars.uiStars i{height:20px;width:20px}
.largeStars.uiStars .emptyStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.largeStars.uiStars .onefourthStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -42px}
.largeStars.uiStars .halfStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -21px}
.largeStars.uiStars .threefourthsStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -84px}
.largeStars.uiStars .fullStar{background-image:url(/rsrc.php/v2/ym/r/KdVmOX-ZX4A.png);background-repeat:no-repeat;background-size:auto;background-position:0 -63px}
.flashFallbackButton{text-align:center}
.uiCollapsedList .visible{margin-right:10px}
.uiCollapsedListHidden .showAll{list-style-type:none}
.uiCollapsedListVisible .showAll,
.uiCollapsedListHidden .hiddenItem{display:none}
.uiCollapsedListNoSeparate .visible{margin-right:3px}
.uiCollapsedListVisible .visible,
.uiCollapsedListMiddot .visible{margin-right:0}
.uiMediaThumb{background:#fff;border:1px solid #ccc;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom}
.loading.uiMediaThumb{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.loading.uiMediaThumb i{opacity:.3}
.uiMediaThumbSelected{background-color:#3b5998;border-color:#3b5998}
.uiMediaThumb:hover, .uiMediaThumb:hover .uiMediaThumbWrap, .uiMediaThumb:active, .uiMediaThumb:active .uiMediaThumbWrap, .uiMediaThumb:focus, .uiMediaThumb:focus .uiMediaThumbWrap{border-color:#3b5998}
.uiMediaThumb i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block}
.uiMediaThumbSmall i{height:54px;width:73px}
.uiMediaThumbMedium i{height:85px;width:114px}
.uiMediaThumbLarge i{height:116px;width:149px}
.uiMediaThumbHuge i{height:120px;width:161px}
.uiMediaThumbAlb{margin-bottom:5px;margin-right:5px}
.uiMediaThumbWrap{background:#fff;border:1px solid #ccc;left:4px;padding:4px;position:absolute;top:4px}
.uiMediaThumbAlbSmall, .uiMediaThumbSmall .uiMediaThumbWrap i{height:49px;width:68px}
.uiMediaThumbAlbMedium, .uiMediaThumbMedium .uiMediaThumbWrap i{height:80px;width:109px}
.uiMediaThumbAlbLarge, .uiMediaThumbLarge .uiMediaThumbWrap i{height:111px;width:144px}
.uiMediaThumbAlbHuge, .uiMediaThumbHuge .uiMediaThumbWrap i{height:115px;width:156px}

#bootloader_SrH4p { height: 42px; }
.bootloader_SrH4p { display:block !important; }