body {
	font: 12pt Arial;
	text-align:center;
	overflow-y:scroll;
}
.header {
	font:22pt Arial;
	font-weight:bold;
	width:1000px;
	margin:auto;
	text-align:left;
	padding:20px;
	padding-bottom:5px;
	border-bottom:2px solid #666678;
}
.header .title {
	color:#666678;
	padding:20px;
	/* display:inline; */
	/* position:relative; */
	/* top:-30px; */
}
.navmenu {
	color:#444456;
	width:200px;
	float:left;
	position:relative;
	left:-30px;
}
.navmenu a:visited {
	color:#444456;
}
.navmenu ul {
	list-style:none;
	font:10pt Arial;
	text-transform:uppercase;
}
.navmenu ul li {
	padding-bottom:5px;
}
.navmenu ul li a:link {
	color:#444456;
	text-decoration:none;
}
.navmenu ul li a:hover {
	color:#AAAABB;
}
.content {
	width:800px;
	display:inline;
	float:right;
}	
.content iframe {
	width:780px;
	height:300px;
	display:inline;
	overflow:hidden;
}
.content pre {
	border:1px solid #AAA;
	background:#DDD;
	padding:10px;
	width:760px;
	overflow-y:scroll;
}
.content h1 {
	font: 18pt Arial;
	font-weight:bold;
}
.content h2 {
	font: 14pt Arial;
	font-weight:bold;
}