body {
  color: #444;
  background-color: #f1f1f1;
}

div#wrap.full-screen {
  padding: 20px;
}

#title-row {
  padding-bottom: 20px;
}

a.close {
  float: left;
  padding: 5px 10px;
}

input#doc-title {
  width: 80%;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  font-size: 20px;
  background-color: transparent;
  font-weight: 700;
  color: #333;
}

textarea.write-together-editor {
  color: #333;
  margin-left: 40px;
  background-color: transparent;
  height: 620px;
  outline: none;
  border-width: 0px;
  width: 100%;
  white-space: pre-wrap;
  max-width: 700px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  font-size: 20px;
  line-height: 31px;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

div.collaborators {
  /*margin-top: -30px;*/
}

.collaborator-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #ccc;
  margin: 0;
}

ul#collaborator-list li {
  font-size: 20px;
  line-height: 31px;
  color: #ccc;
}

#save-id {
  color: #ccc;
}

h2.app-name {
  text-transform: uppercase;
  color: #ccc;
}

.table thead th {
  text-transform: uppercase;
  color: #ccc;
}

.table td.title {
  font-weight: 700;
}

.table td.last-saved {
  font-size: 85%;
  color: #666;
}

