<div class="row">
	<div class="span3">
		<h3 data-bind="text:currentUser() == false?'Users':currentUser()"></h3>
	</div>
</div>
<div class="row" data-bind="visible:currentUser() == false">
	<div class="span4">
		<a data-bind="click:deleteSelected" href="">Delete Selected</a>
	</div>
	<div class="usersList span4">
		<table class="table table-striped" style="border: 1px solid #ddd;">
			<tr>
				<th style="border:none; background:#FFF"></th>
				<th style="border:none; background:#FFF">Name</th>
			</tr>
			<tbody data-bind="foreach:usersList, style:{border:'none'}">
				<td><input type="checkbox" /></td>
				<td><a data-bind="text:user, click:$root.userClick, attr:{href:'#'+user}" href=""></a></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row" data-bind="visible:currentUser() != false">
	<div class="span4">
		<a data-bind="click:function(){currentUser(false)}" href="">View full list of users</a>
	</div>
	<div class="usersList span4">
		<form> 
			
			<div style="height:50px;">
				<span>Edit user name:</span>
				<input type="text" style="float:right;" />			
			</div>
			<div>
				<span>Change password:</span>
				<input type="text"style="float:right;" /><br/>
			</div>
	
		</form>
		
		Under construction..
	</div>
</div>
<script>
	vwfPortalModel.usersList = [{user:"Mick"}, {user:"Joe"}, {user:"Mike"}];
	vwfPortalModel.currentUser = ko.observable(false); 
	vwfPortalModel.deleteSelected = function(data){
		
		var tempUserArr = [];
		for(var i = 0; i < $('input:checked').length; i++){
			tempUserArr.push(ko.dataFor($('input:checked')[i]).user);
		}
		
		//Make the request to the server to delete these users
		console.log("Delete users ", tempUserArr);
		$('input:checked').click();
	}; 
	vwfPortalModel.userClick = function(data){
	
		console.log(data.user);
		vwfPortalModel.currentUser(data.user); 
		return true;
	}; 
	
	$(document).ready(function(){	
		ko.applyBindings(vwfPortalModel);
		getLoginInfo();

		var hash = window.location.hash.replace("#", "");
		
		console.log("Hash is", hash);
		

		
	});
</script>