	<div class="row" style="margin-top:30px;">
		<div class="span3">
			<h3>Worlds</h3>
			<a href="{{root}}/create">Create World</a><br/>
			<a data-bind="click:deleteSelected" href="">Delete Selected</a><br/><br/>
			<a href="{{root}}/admin">Admin Page</a>
		</div>
		<div class="span9">
			<div class="row">
				<div class="usersList span4">
					<table class="table table-striped" style="border: 1px solid #ddd;">
						<tr>
							<th style="border:none; background:#FFF"><input type="checkbox" id="selectAllBox" data-bind="click:handleSelectAll" /></th>
							<th style="border:none; background:#FFF">Name</th>
							<th style="border:none; background:#FFF">Owner</th>
							<th style="border:none; background:#FFF">Objects</th>
						</tr>
						<tbody data-bind="foreach:worldObjects, style:{border:'none'}">
						
							<td><input type="checkbox" class="checkboxes" /></td>
							<td><a data-bind="text:title, attr:{href:'#'+id}" href=""></a></td>
							<td><a data-bind="text:owner, attr:{href:'{{root}}/admin/users#'+owner}" href=""></a></td>
							<td><span data-bind="text:objects"></span></td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
		vwfPortalModel.deleteSelected = function(data){
			
			var tempWorldArr = [], dataSendArr = [], tempStr = '', cacheQuery = $('input:checked').not('#selectAllBox');
			for(var i = 0; i < cacheQuery.length; i++){
				tempStr = ko.dataFor(cacheQuery[i]).id;
				
				if(tempStr){
					tempWorldArr.push(tempStr);
					dataSendArr.push('_adl_sandbox_' + tempStr + '_');
				}
			}
			
			//Make the request to the server to delete these users
			console.log("Delete worlds ", tempWorldArr, dataSendArr);
			
			//Make the request to the server to delete these users
			$.post('{{root}}/data/delete_worlds', JSON.stringify(dataSendArr), function(o){
				
				for(var i in tempWorldArr){
					for(var g in vwfPortalModel.worldObjects()){
						if(vwfPortalModel.worldObjects()[g].id == tempWorldArr[i]){
							vwfPortalModel.worldObjects.splice(g, 1);
						}
					}
				}
				
			});
		}; 
		
		$(document).ready(function(){	
			
			ko.applyBindings(vwfPortalModel);
			getLoginInfo(showStates);
		});
	</script>