/* typography */
h2 {
  font-size: 10px;
  letter-spacing: -1px;
  text-align: left;
}

p {
  font-size: 0.8em;
  margin:0px;
}

/* divs */
#instructionPanel {
  position:absolute;
  top:0px;
  left:0px;
  width:20%;
  height:100%;
  background:#333;
}