.vwf-node {
  margin: 0.5em;
  padding: 0.5em;
} 

.vwf-depth-1 {
  background-color: #AAB;
} 

.vwf-depth-2 {
  background-color: #BCB;
} 

.vwf-depth-3 {
  background-color: #DDC;
} 

.vwf-depth-4 {
  background-color: #EDD;
} 
