html, body{

	background-color:#f4f4f4;
	height: 100%;
	color: #555;
	background-image: url('../img/back.png')
}

.container{
	max-width: 1200px;
}

a{
	text-decoration: none;
}

ul{
	padding-left:30px;
	margin-top:5px;
}

.bodyLoad{
	visibility:invisible;
	overflow:hidden;
	height:500px;
	max-height:500px;
}

#loadOverlay{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #eee;
	visibility:visible;
	
}

.glyphicon-star{
	color: #F3E003;
	font-size: 17px;
	text-shadow: 0 0 1px #A8A8A8;
	margin-left: 5px;
}

.avatarchoice:hover {
	padding: 0px;
	border: 1px solid #DDD;
}

.avatarchoice {
	text-align: center;
	padding: 1px;
	border-radius:10px;
}
.videoList td{
	border: none !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}

.videoList table{
	margin-bottom:7px !important;
}

.btn{

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

.wideFrame{

display:block;
margin:0px auto;
width:80%;
height:320px;
}
.frame{

display:block;
margin:0px auto;
width:50%;
height:315px;
}

#wrapper{
	width: 100%;
	overflow: hidden;
}

#footer {
	height: 80px;
	clear:both;
	background: #bbb;
	padding: 0 15px;
} 

#footer, h1, .alert-success, .coldstate{

	text-align: center;
}

#header{
	width: 100%;
	background-color: #4F89AA;
	border-bottom: 1px solid #3784B9;
	height: 25px;
	clear:both;
}

#header .headerA, #header .headerSpan{
	font-size: 14px;
	margin: 3px 10px;
	text-align: right;
	display:block;
}

#header .headerSpan{
	float: left;
}
#header .headerA{
	float: right;
}

.linkMenu{
	width: 460px;
	padding-top: 42px;
	padding-right: 20px;
	text-align: right;
	height: 70px;
	position:absolute;
	left:56%;
}

.linkMenu a {
	padding: 6px 10px;
	margin: 0px 8px;
	font-weight: normal;
	text-shadow: 1px 1px 1px #999;
	color: #fafafa;
	font-size: 25px;
}

.headerMenu,.headerMenu a{
	color: #efefef;
}
#logo{
	position:relative;
	float:left;
	top:-25px;
	left:-20px;
	z-index:3;
	height:100px;
}
#pageLogo {
	padding: 0;
	background: #98B8E0;
	height:100px;
	width:100%;
	overflow:visible;
	background-image: url('../img/grid.png');
}
#pageLogo h1, #pageLogo h2{

	line-height: 33px;
}

.h1-hero{

margin-bottom: 0;
margin-top:0;
font-size: 90px;
line-height: 1;
letter-spacing: -1px;
text-align:left;
}

.sliderContainer{
	width:100%;
	overflow:hidden;
	border:none;
	border-bottom:1px solid #EBEBEB;
	position:relative;
	padding: 0;
	border-top: 1px solid #84A0C4;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
	padding-bottom: 30.7%;
	
}
.sliderWrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}

.videoList{
	
	list-style:none;
}

.slide-item{
	height:368px;
	height:100%;
	width:100%;
	position:absolute;
	float:left;
	cursor: default;
	z-index: 0;
	background-size: 100%;
	background-repeat:no-repeat;
}

.slide-item div{
	position:absolute;
}

.pContainer{
	margin-top: 31%;
	height: 55px;
	width:100%;
}

.slide-item p{
	font-size: 30px;
	color: #eee;
	text-shadow: 0 1px 1px #5C5D5F;
	text-align: right;
	line-height: 30px;
	height:45px;
	border-radius: 2px;
	border: 1px solid #444;
	border: 1px solid rgba(160, 160, 160, 0.2);
	padding: 6px;
	background: #333;
	background: rgba(15, 15, 15, 0.25);
}

.content{
	background-color: #fff;
	margin: 0 auto;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	padding: 0 15px;
}
#login{
	float:right;
}
#username{
	float:right;
}

.accordion{

	visibility:hidden;
}

.coldstate
{
	cursor: pointer;
	background: #f6f8f9; /* Old browsers */

	text-align: center;
	color: #52697E;
}
.hotstate
{

	cursor: pointer;
	background: rgb(184,225,252); /* Old browsers */
	color: #52697E;
	text-align: center;

	color: #52697E;
}
.title
{
	margin-top: 1em;
	text-decoration: underline;
}
.description
{
	color: gray;
	margin-top: 1em;
}
.owner
{
	color: gray;
	margin-top: 1em;
}
.objects
{
	color: gray;
	margin-top: .2em;
}
.lastModified
{
	color: gray;
	margin-top: .2em;
}
.stateid
{
	color: lightgray;
	margin-top: .2em;
	font-size: 12px;
	text-align:right;
}
.button
{
	cursor: pointer;
	background: rgb(226,226,226); /* Old browsers */
	border-radius: 10px;
	
	padding: 10px;
	text-align: center;
	font-size: 1.8em;
	box-shadow: 5px 5px 5px;
}

.accountCreation input{
	margin-bottom:10px;
}

.featurette-heading {
	font-size: 50px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.lead{
	
	margin-bottom: 0;
}

.pointList{
	margin-top: 35px;
}

.pointList .glyphicon{
	color: #77C9FF;
}

.pointList div{
	min-width:267px;
}

.pointList li{

	font-size: 17px;
	line-height: 20px;
	color: #747474;
	margin-bottom: 12px;
}

.pointList .lead{

	display:block;
	float:left;
	font-size: 25px;
}



.activeWorld{

	background-color: #EAFFEA;
	border: 1px solid #A0CFA0;
	border-radius: 5px;
	padding: 2px 10px;

}

.worldHeightPadding{
	
	overflow:hidden;
	height:235px;
	margin-bottom:15px;
}
.worldHeightMiniPadding{
	
	overflow: hidden;
	height: 233px;
	margin-bottom:15px;
}

.featuredInstance .boxContentWrapper, .worldBox .boxContentWrapper{

	padding: 0 5px;
}

.featuredInstance, .worldBox{
	
	border: 1px #E6E6E6 solid;
	border-bottom: 1px #dfdfdf solid;
	background-color: #f5f5f5;
	border-radius: 8px;
	padding: 5px 5px 3px 5px;
	max-height: 230px;
	min-height: 230px;
}

.worldBox{
	background-color: #fDfDfD;
}

.worldImage{
	margin:0 auto 2px auto;
	display:block;
	border:1px solid #ddd;
	padding:1px;
	width:97%;
	height:115px;
	border-radius:3px;
}

.featuredInstanceLast{

	border-bottom: none;
}
.editstate, .editstateGuest
{
	display: block;
	margin-top: 0;
	width:100%;
	color: gray;
}

.boxContentWrapper{
	height: 197px;
	max-height:197px;
}

.editstateGuest{
	
	border-top: none;
}

.editstate a, .editstateGuest a
{
	text-align:right;
	float:right;
}
.loadWorld{

	text-align:left !important;
	float:left !important;
	color:gray;
	text-decoration: none !important;
	cursor: pointer;
	margin-top:-5px;
}
.accordion-inner{

	padding-bottom: 3px;
}
.editstatedata, .editstatedelete, .editstatecopy
{
	cursor: pointer;
	border-radius: 7px;
	margin: 0 10px;
}

.historychildstate
{
border: 1px solid darkcyan;
text-align: center;
background: #DDD;
padding: 10px;
border-radius: 5px;
margin: 10px;
display: inline-block;
}

.historythisstate
{
border: 1px solid darkcyan;
text-align: center;
background: #DDF;
padding: 10px;
border-radius: 10px;
margin: 10px;
font-size: 1.5em
}

.historyparentstate
{
border: 1px solid darkcyan;
text-align: center;
background: #DDD;
padding: 10px;
border-radius: 5px;
margin: 10px;
display: block;
}

.editstatedata img
{
	height: 100%;
}
.editstatedata img:hover
{
	background:red
	height: 200%;
}
.editstatedelete img
{
	height: 100%;
}

.h4{

	font-size: 17.5px;
	font-weight:bold;
}
#filter
{
margin-bottom: 3px;
}
