    <script type="text/javascript">
		vwfPortalModel.handleCreateButton = function(o, e){

			var name = $('#txtInstanceName').val(); 
			var des = $('#txtInstanceDescription').val();
			
			var state = window.location.search.substr(window.location.search.indexOf('=')+1);
			var path = window.location.pathname.substr(0,window.location.pathname.lastIndexOf('/')+1);
			
			var sid = path+state+'/';
			
			var statedata = {};
			statedata.title = name;
			statedata.description = des;
			
			jQuery.ajax(
			{
				type: 'POST',
				url: root + '/vwfDataManager.svc/createstate',
				data: JSON.stringify(statedata),
				success:function(data,status,xhr)
				{
					var newLocation = data.replace("Created state _adl_sandbox_", "").replace("_", "");
					window.location = root + "/" + newLocation;
				},
				error:function(xhr,status,err)
				{
					vwfPortalModel.errorText("Error: " + xhr.responseText);
					
					window.setTimeout(function(){
						vwfPortalModel.errorText("");				
					}, 6000);
				},
				dataType: "text"
			});
		};
		
		function redirect()
		{
			window.location.pathname = '';
		}
		
		$(document).ready(function()
		{
			getLoginInfo(function(){}, redirect);
			ko.applyBindings(vwfPortalModel);
		});	
	</script>
    <div class="row">
		<div class="col-md-5" style="margin:0 auto;float:none;height:260px;">
			<form data-bind="submit:handleCreateButton">
				<fieldset>
					<legend>Create a world</legend>
					<input type='text' id='txtInstanceName' placeholder='World Name' class="form-control" /><br/>
					<textarea id='txtInstanceDescription' placeholder='Description' class="form-control"></textarea><br/>
					<input type="submit" class='btn btn-default' style="float:right;" value="Create"/>
				</fieldset>
			</form>
		</div>
	</div>