<script type="text/javascript">
	var sid = '{{sid}}';
	$(document).ready(function()
	{
		getLoginInfo(false, redirect);
		ko.applyBindings(vwfPortalModel);
			
		$.ajax('/vwfDataManager.svc/statedata?SID=' + sid,
		{
			cache:false,
			success:function(data,status,xhr)
			{
				setup();
				var data = JSON.parse(xhr.responseText);
				$('#txtInstanceName').val(data.title);
				$('#txtInstanceDescription').val(data.description);
			},
			error:function(xhr,status,err)
			{
				$('#error').text("Error: " + xhr.responseText);
			}
		});
			
	});	
	function redirect()
	{
		window.location.pathname = '';
	}
	vwfPortalModel.handleDeleteButton = function(o, e){
		
			
		var confirm = $('#confirm').val();
		if(confirm != 'Yes')
		{
			$('#error').text("Enter 'Yes' in the box above.");
			return;
		}	
		
		jQuery.ajax(
		{
			type: 'DELETE',
			url: '/vwfDataManager.svc/state?SID='+sid,
			success:function(data,status,xhr)
			{
				redirect();
			},
			error:function(xhr,status,err)
			{
				$('#error').text("Error: " + xhr.responseText);
			},
			dataType: "text"
		});
	};	
</script>
<h1> Virtual World Framework Delete World </h1>
<div class="row">

	<div class="span5 offset3">
		<form data-bind="submit:handleDeleteButton" >
			<fieldset>
				<legend>Type yes in the box below then hit "Delete"</legend>
				<input type='text' id='confirm' placeholder='Type "Yes"' class="span5" />
				<input type='password' id='txtpassword' placeholder='Password' class="span5"/><br/>
				<input type="submit" class='btn' style="float:right;"  value="Delete"/>
			</fieldset>
		</form>
	</div>	
</div>

<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>