<script type="text/javascript">
	var sid = '{{sid}}';
	$(document).ready(function()
	{
		getLoginInfo();
			
		$.ajax('/vwfDataManager.svc/statedata?SID=' + sid,
		{
			cache:false,
			success:function(data,status,xhr)
			{
				var data = JSON.parse(xhr.responseText);
				$('#txtInstanceName').val(data.title);
				$('#txtInstanceDescription').val(data.description);
			},
			error:function(xhr,status,err)
			{
				$('#error').text("Error: " + xhr.responseText);
			}
		});
		
		ko.applyBindings(vwfPortalModel);
	});	
	function redirect()
	{
		window.location.pathname = '';
	}
	vwfPortalModel.handleEditButton = function(o, e){

		var name = $('#txtInstanceName').val();
		var des = $('#txtInstanceDescription').val();
		
		var statedata = {};
		statedata.title = name;
		statedata.description = des;
		
		jQuery.ajax(
		{
			type: 'POST',
			url: '/vwfDataManager.svc/statedata?SID='+sid,
			data: JSON.stringify(statedata),
			success:function(data,status,xhr)
			{
				redirect();
			},
			error:function(xhr,status,err)
			{
				$('#error').text("Error: " + xhr.responseText);
			},
			dataType: "text"
		});	
	};
</script>
<h1> Virtual World Framework Edit World </h1>
<div class="row">
	<div class="span5 offset3">
		<form data-bind="submit:handleEditButton" >
			<fieldset>
				<legend>Edit world name and description</legend>
				<input type='text' id='txtInstanceName' placeholder='World Name' class="span5" />
				<textarea id='txtInstanceDescription' placeholder='Description' class="span5"></textarea><br/>
				<input type="submit" class='btn' style="float:right;"  value="Edit"/>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>