<script type="text/javascript">
	
	$(document).ready(function()
	{	
		ko.applyBindings(vwfPortalModel);
		$('#submitBtn').click( function(o, e){
		
			$.ajax(root + '/vwfDataManager.svc/forgotPassword?UID=' + $('#txtUsername').val(),
			{
				cache:false,
				success:function(data,status,xhr)
				{
					alertify.alert('An email has been sent to the address registered to this username with a new temporary password');
				},
				error:function(xhr,status,err)
				{
					$('#txtUsername').val('');
					
					vwfPortalModel.errorText("Error: Please ensure your username is correct");
					
					window.setTimeout(function(){
						vwfPortalModel.errorText("");				
					}, 6000);
				}
			});	
		});
	});	
	
</script>
<div id='content' class="row">
	<div class="col-md-5" style="margin:10px auto;float:none;text-align:center;height:260px;">
		
		<form >
			<fieldset>
				<legend style="padding-bottom:5px;">{{#translate}}Enter your username{{/translate}}</legend>
				<div class="col-md-10" style="margin:0 auto;float:none;">
					<input type='text' id='txtUsername' placeholder='{{#translate}}Username{{/translate}}' class="form-control"/><br/>
					<input type="button" class='btn btn-default' style="float:right;" id='submitBtn' value="{{#translate}}Submit{{/translate}}"/><br/>
					<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
				</div>
				<legend style="padding-bottom:5px;"></legend>
			</fieldset>
			<div style='color: lightgray;' >{{#translate}}A temporary password will be emailed to the email address on file{{/translate}}.</div>
		</form>
		<a href='signup' class='' style=""  value="" >{{#translate}}Sign up{{/translate}}</a><span style="margin-left:3em" />   
		<a href='login' class='' style=""  value="" >{{#translate}}Log in{{/translate}}</a>
	</div>
</div>