	<div class="row" style="margin-top:15px;">
		<div class="col-md-12">
			<div class="row" style="margin-top:30px;">
				<div class="col-md-3 pointList">
					<div>
						<span class="lead glyphicon glyphicon-globe"></span><span class="lead">&nbsp;Persistent Worlds</span>
					</div>
					<ul>
					
						<li>Make worlds that evolve over time.</li>
						<li>Share your creativity!</li>
						<li>Make as many differnet worlds as you like.</li>
						
					</ul>
				</div>
				<div class="col-md-3 pointList">
					<div>
						<span class="lead glyphicon glyphicon-pencil"></span><span class="lead">&nbsp;In Browser Editing</span>
					</div>
					<ul>
					
						<li>Create a world right in your web browser.</li>
						<li>Add scripts, 3D models, sounds and behaviors.</li>
						<li>Works in Chrome, Opera, Firefox and Safari</li>
						
					</ul>
				</div>
				<div class="col-md-6">
					<iframe class="wideFrame" src="http://www.youtube.com/embed/videoseries?list=PLbhwHX3OvksljQcxLkRT3YvyjgQaIY8m2" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>	
		<div class="col-md-12">
			<div class="row" style="margin-top:65px;">
				<div class="col-md-5">
					<img src="{{root}}/img/screenshot.png" style="margin:0 auto;display:block;" />
				</div>
				<div class="col-md-3 col-md-offset-1 pointList" style="margin-left:4.3333%">
					<div>
						<span class="lead glyphicon glyphicon-retweet"></span><span class="lead">&nbsp;Collaborative</span>
					</div>
					<ul>
					
						<li>Video chat with other users with WebRTC.</li>
						<li>Share your world and allow other users to help build.</li>
						<li>You can even have many authors working at once!</li>
						
					</ul>
				</div>
				<div class="col-md-3 pointList">
					<div>
						<span class="lead glyphicon glyphicon-picture"></span><span class="lead" style="padding-top:1px">&nbsp;Creative</span>
					</div>
					<ul>
					
						<li>You can create some basic worlds with the built in tools.</li>
						<li>Create materials, 3D models, and scripts.</li>
						<li>You can even import 3D models, or publish objects for other users to use!</li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:60px;">
		<div class="col-md-12"><h1 class="featurette-heading" style="border-top:1px solid #eee;padding-top:20px;width:95%;margin:0 auto;">Explore</h1></div>

	</div>
	<div class="row" style="margin-bottom:50px;" data-bind="foreach:displayWorldObjects">
		<!-- ko if: $data.featured == true && $index() < 6 -->
		<div class="col-md-4" style="text-align:center;margin-top:45px;">
			<div>
				<h4 style="margin-top:0;" class="lead"><a style="color:inherit;" data-bind="text:title, attr:{href:'{{root}}/'+id}"></a></h4>
			</div>
			<a data-bind="attr:{href:'{{root}}/'+id}" >
				<img data-bind="attr:{src:'{{root}}/img/' + id + '_small.png'}" style="width:190px;height:130px;margin-top:4px;border: 1px solid #ddd;padding:1px;"/>
			</a>

		</div>
		<!-- /ko -->
	</div>
	<div class="row">
	
		<div class="col-md-2" style="margin:-25px auto 25px auto;float:none;text-align:center;">
			<a href="{{root}}" class="btn btn-info">View All Worlds</a>
		</div>
	</div>
	<script>
		var slideInterval = 0;
		$(document).ready(function(){
			var totalSlides = 4, tempSlides = 0, transitionSpeed = 1500, isIntervalActive = true;
			var currentSlideState = Math.floor(Math.random() * totalSlides);
			
			$(".slide-item").not(".slide-item" + currentSlideState).css("left", "1200px");
			$(".slide-item" + currentSlideState + " .pContainer").css({top:"324px"});
			$(".linkMenu").css("margin-bottom", "0");
			
			$('.slide-item').mousedown(function(e){
				e.preventDefault();
				e.stopPropagation();
				return false;
			});
			$('.sliderContainer').mouseover(function(e){
				window.clearInterval(slideInterval);
				isIntervalActive = false;
				
			}); 
			$('.sliderContainer').mouseout(function(e){
				if(! isIntervalActive){
					isIntervalActive = true;
					slideInterval = window.setInterval(animateSlides, 15000);
				}
			}); 
			
			
			
			ko.applyBindings(vwfPortalModel);
			getLoginInfo();
			showStates();
			
			
			var incrementCurrentSlideState = function(){
				tempSlides++;
				if(tempSlides == 2){
					tempSlides = 0;
					currentSlideState = (currentSlideState + 1)%totalSlides;
				}
			};
			
			var animateSlides = function(){
				$(".slide-item" + currentSlideState + " .pContainer").animate({top:"370px"});
				$(".slide-item" + currentSlideState).animate({left:"-1200px"}, transitionSpeed, "swing", function(){
					incrementCurrentSlideState();
					$(this).css("left", "1200px");
				});
				$(".slide-item" + ((currentSlideState + 1)%totalSlides)).animate({left:"0px"}, transitionSpeed, "swing", function(){
					incrementCurrentSlideState();
					$(this).children(".pContainer").animate({top:"324px"});
				});
			};
			
			slideInterval = window.setInterval(animateSlides, 15000);
		});
		
		
	</script>
	