	<div class="row" style="margin-top:30px;height:426px;">
		
		<div class="span12" style="margin-bottom:20px;">
		
			<h1>Open source</h1>
		</div>
		<div class="span6">
		
			<div class="span3">
				<h4>Cool Point</h4>
				<ul>
				
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					
				</ul>
			</div>
			<div class="span2">
				<h4>Another cool point</h4>
				<ul>
				
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					
				</ul>
			</div>
		</div>
		<div class="span6">
			<iframe class="wideFrame" src="http://www.youtube.com/embed/videoseries?list=PLbhwHX3OvksljQcxLkRT3YvyjgQaIY8m2" frameborder="0" allowfullscreen></iframe>
		</div>
		
	</div>
	<div class="row" style="margin-top:60px;">
		<div class="span12" style="border-top:1px solid #eee;padding-top:30px;"><h1>Explore</h1></div>

	</div>
	<div class="row" style="margin-top:30px;" data-bind="foreach:featuredWorldObjects">
		<div class="span4" style="text-align:center;">
			<a data-bind="attr:{href:'{{root}}/'+id}" >
				<img data-bind="attr:{src:'{{root}}/img/' + id + '_small.png'}" style="width:190px;height:130px;margin-top:4px;border: 1px solid #ddd;padding:1px;"/>
			</a>
			
			<div>
				<h4 style="margin-top:0;"><a style="color:inherit;" data-bind="text:title, attr:{href:'{{root}}/'+id}"></a></h4>
				<p data-bind="text:$root.getShorterStr(description, 120)"></p>
			</div>
		</div>
	</div>
	<script>
		var slideInterval = 0;
		$(document).ready(function(){
			var totalSlides = 4, tempSlides = 0, transitionSpeed = 1500, isIntervalActive = true;
			var currentSlideState = Math.floor(Math.random() * totalSlides);
			
			$(".slide-item").not(".slide-item" + currentSlideState).css("left", "1200px");
			$(".slide-item" + currentSlideState + " .pContainer").css({top:"317px"});
			$(".linkMenu").css("margin-bottom", "0");
			
			$('.slide-item').mousedown(function(e){
				e.preventDefault();
				e.stopPropagation();
				return false;
			});
			$('.sliderContainer').mouseover(function(e){
				window.clearInterval(slideInterval);
				isIntervalActive = false;
				
			}); 
			$('.sliderContainer').mouseout(function(e){
				if(! isIntervalActive){
					isIntervalActive = true;
					slideInterval = window.setInterval(animateSlides, 13000);
				}
			}); 
			
			
			
			ko.applyBindings(vwfPortalModel);
			getLoginInfo();
			showStates();
			
			
			var incrementCurrentSlideState = function(){
				tempSlides++;
				if(tempSlides == 2){
					tempSlides = 0;
					currentSlideState = (currentSlideState + 1)%totalSlides;
				}
			};
			
			var animateSlides = function(){
				$(".slide-item" + currentSlideState + " .pContainer").animate({top:"370px"});
				$(".slide-item" + currentSlideState).animate({left:"-1200px"}, transitionSpeed, "swing", function(){
					incrementCurrentSlideState();
					$(this).css("left", "1200px");
				});
				$(".slide-item" + ((currentSlideState + 1)%totalSlides)).animate({left:"0px"}, transitionSpeed, "swing", function(){
					incrementCurrentSlideState();
					$(this).children(".pContainer").animate({top:"317px"});
				});
			};
			
			slideInterval = window.setInterval(animateSlides, 13000);
		});
		
		
	</script>
	