<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{root}}/css/colorpicker.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="{{root}}/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" type="text/css" href="{{root}}/css/bootstrap-responsive.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="{{root}}/css/style.css" />
	<!--[if !IE 7]>
	<style type="text/css">
		#wrapper {display:table;height:100%}
	</style>
	<![endif]-->
    <title>Virtual World Framework</title>

	<script type="text/javascript" src="{{root}}/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{root}}/js/knockout-2.2.1.js"></script>
	<script type="text/javascript" src="{{root}}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{root}}/vwf/view/editorview/sha256.js"></script>
	<script type="text/javascript" src="{{root}}/js/moment.min.js"></script>
	<script type="text/javascript">
		var root = '{{root}}';	
	</script>
    <script type="text/javascript" src="{{root}}/js/model.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header" style="text-align: center">
			<div class="headerMenu">
				
				
				<div id="username" data-bind="visible:user().isLoggedIn">
					<span class="headerSpan" data-bind="text:'Logged in as: '"></span>
					<a class="headerA" href="{{root}}/user" id="userOptions" data-bind="text: user().username"></a>
				</div>
				<div id="login">
					<a class="headerA" href="{{root}}/login?return=index"  id="login"  data-bind="visible:!user().isLoggedIn">Login</a>
					<a class="headerA" href="{{root}}/logout?return=index" id="logout" data-bind="visible:user().isLoggedIn">Logout</a>
					<a class="headerA" href="{{root}}/signup?return=index" id="signup" data-bind="visible:!user().isLoggedIn">Create Account</a>
				</div>
			</div>
		</div>		
		<div class="content container">
			<div id="pageLogo">
				<h1 style="text-align:center;">Virtual World Framework</h1>
				<h2 style="text-align:center;">Sandbox</h2>
			</div>
			<div class="linkMenu">
				<a href="/">Home</a>
				<a href="">About</a> 
				<a href="http://www.youtube.com/watch?list=PLbhwHX3OvksljQcxLkRT3YvyjgQaIY8m2&v=aWRQJJnBi5c">Videos</a> 
				<a href="{{root}}/help">Help</a> 
			</div>
		</div>	
		
		{{#home}}
		<div style="height:368px;width:1200px;overflow:hidden;border-bottom:1px solid #EBEBEB" class="container">
			<div style="width:2400px;position:relative">
				<div style="background-image:url('{{root}}/img/huge_terrain.jpg');" class="slide-item slide-item0">
					<h1 class="h1-hero">In Browser</h1>
				</div>
				<div style="background-image:url('{{root}}/img/huge_town.jpg');" class="slide-item slide-item1">
					<h1 class="h1-hero">Scenario-Based Training</h1>
				</div>
				<div style="background-image:url('{{root}}/img/huge_office.jpg');" class="slide-item slide-item2">
					<h1 class="h1-hero">In Browser</h1>
				</div>
			</div>
		</div>
		{{/home}}
			
		<div class="content container">	
			<h3>{{title}}</h3>
			{{{yield}}}
			

		</div>
		<div id="footer" class="container">
			<br/><p style="color:#eee">This is the footer.</p>
		</div>
	</div>
</body>
</html>