<script type="text/javascript">
	var EncryptPassword = function (password, username,salt)
	{
		
		var unencrpytedpassword = password + username + salt; 
		for (var i = 0; i < 1000; i++)
		{
			unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
		}
		
		return unencrpytedpassword;
		
	}
	
	$(document).ready(function()
	{
		
		ko.applyBindings(vwfPortalModel);
	});	
	
	function redirect()
	{
		window.location = vwfPortalModel.returnVal;
	}
	
	vwfPortalModel.handleLoginButton = function(o, e){ 
	
		var username = $('#txtusername').val();
		var password = $('#txtpassword').val();
		
		var salt = $.ajax( root + '/vwfDataManager.svc/salt?UID='+ username,{async:false}).responseText;
		
		password = EncryptPassword(password,username,$.trim(salt));
		
		var formData = new FormData();
		formData.append('username', username);
		formData.append('password', password);

		var xhr = new XMLHttpRequest();
		xhr.open("POST", "../../auth/local");
		xhr.addEventListener("load",function(xhr)
		{
			if(xhr.target.status === 301 || xhr.target.status === 302 || xhr.target.status === 200)
			{
				$('#txtusername').val('');
				$('#txtpassword').val('');
				redirect();
			}else
			{
				$('#txtusername').val('');
				$('#txtpassword').val('');
				vwfPortalModel.errorText("Error: Please ensure your username and password are both correct");
			}
			
		});
		xhr.addEventListener("error",function()
		{
			$('#txtusername').val('');
			$('#txtpassword').val('');
			
			vwfPortalModel.errorText("Error: Please ensure your username and password are both correct");

		},false);

		xhr.send(formData);

	};
</script>
<div id="content" class="row" style="margin:10px auto;float:none;text-align:center;height:260px;">
	<div class="col-md-5" style="margin:10px auto;float:none;text-align:center;height:260px;">
		<form data-bind="submit:handleLoginButton" >
			<fieldset>
				<legend style="padding-bottom:5px;">{{#translate}}Log in{{/translate}}</legend>
                {{#facebookLogin}}<a href="/adl/sandbox/auth/facebook" class="btn btn-primary" style="background: url(./img/signin.png);  background-position: -17px -100px;  width: 150px;  height: 50px;  border: none;  background-color: transparent;  border-radius: 9px;"><span class="fa fa-facebook"></span></a>{{/facebookLogin}}
                {{#twitterLogin}}<span class="fa fa-facebook"></span></a>
                <a href="/adl/sandbox/auth/twitter" class="btn btn-primary" style="background: url(./img/signin.png);  
    background-position: -190px -100px;  width: 150px;  height: 50px;  border: none;  background-color: transparent;  border-radius: 9px;
"><span class="fa fa-facebook"></span></a></span></a>
                {{/twitterLogin}}
                {{#googleLogin}}<a href="/adl/sandbox/auth/google" class="btn btn-primary" style="
    background: url(./img/signin.png);  
    background-position: -17px -40px;  width: 150px;  height: 50px;  border: none;  background-color: transparent;  border-radius: 9px;
"><span class="fa fa-facebook"></span></a>
                {{/googleLogin}}
                <br/><br/>
				<div class="col-md-10" style="margin:0 auto;float:none;">
					<input type='text' id='txtusername' placeholder='{{#translate}}Username{{/translate}}' class="form-control" /><br/>
					<input type='password' id='txtpassword' placeholder='{{#translate}}Password{{/translate}}' class="form-control"/><br/>
					<input type="submit" class='btn btn-default' style="float:right;"  value="{{#translate}}Submit{{/translate}}"/><br/>

					<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
				</div>
				<legend style="padding-bottom:5px;"></legend>
			</fieldset>
		</form>
		<a href='signup' class='' style=""  value="" >{{#translate}}Sign Up{{/translate}}</a><span style="margin-left:3em" />
		<a href='forgotPassword' class='' style=""  value="" >{{#translate}}Forgot your password?{{/translate}}</a>
	</div>
</div>

