<script type="text/javascript">
	var EncryptPassword = function (password, username,salt)
	{
		var unencrpytedpassword = password + username + salt;
		for (var i = 0; i < 1000; i++)
		{
			unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
		}
		return unencrpytedpassword;
	}
	
	$(document).ready(function()
	{
		getLoginInfo(redirect, function(){});
		ko.applyBindings(vwfPortalModel);
	});	
	
	function redirect()
	{
		var ret = window.location.search.substr(window.location.search.indexOf('=')+1);
		window.location = window.location.protocol + "//" + window.location.host + vwfPortalModel.returnVal;
	}
	
	vwfPortalModel.handleLoginButton = function(o, e){
	
		var username = $('#txtusername').val();
		var password = $('#txtpassword').val();
		
		var salt = $.ajax('/vwfDataManager.svc/salt?UID='+ username,{async:false}).responseText;
		
		password = EncryptPassword(password,username,$.trim(salt));
		
		$.ajax('/vwfDataManager.svc/sitelogin?UID=' + username +"&P=" + password,
		{
			cache:false,
			success:function(data,status,xhr)
			{
				$('#txtusername').val('');
				$('#txtpassword').val('');
				redirect();
			},
			error:function(xhr,status,err)
			{
				$('#txtusername').val('');
				$('#txtpassword').val('');
				$('#error').text("Error: " + xhr.responseText);
			}
		});
	};
</script>
<div class="row">
	<div class="span5 offset3">
		<form data-bind="submit:handleLoginButton" >
			<fieldset>
				<legend>Enter your username and password below</legend>
				<div style="width:58%; margin: 0 auto;">
					<input type='text' id='txtusername' placeholder='Username' class="span3" />
					<input type='password' id='txtpassword' placeholder='Password' class="span3"/><br/>
					<input type="submit" class='btn' style="float:right;"  value="Submit"/>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>