<script type="text/javascript">
	var EncryptPassword = function (password, username,salt)
	{
		
		var unencrpytedpassword = password + username + salt; 
		for (var i = 0; i < 1000; i++)
		{
			unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
		}
		
		return unencrpytedpassword;
		
	}
	
	$(document).ready(function()
	{
		getLoginInfo(redirect, function(){});
		ko.applyBindings(vwfPortalModel);
	});	
	
	function redirect()
	{
		window.location = vwfPortalModel.returnVal;
	}
	
	vwfPortalModel.handleLoginButton = function(o, e){
	
		var username = $('#txtusername').val();
		var password = $('#txtpassword').val();
		
		var salt = $.ajax( root + '/vwfDataManager.svc/salt?UID='+ username,{async:false}).responseText;
		
		password = EncryptPassword(password,username,$.trim(salt));
		
		$.ajax(root + '/vwfDataManager.svc/sitelogin?UID=' + username +"&P=" + password,
		{
			cache:false,
			success:function(data,status,xhr)
			{
				$('#txtusername').val('');
				$('#txtpassword').val('');
				redirect();
			},
			error:function(xhr,status,err)
			{
				$('#txtpassword').val('');
				vwfPortalModel.errorText("Error: Please ensure your username and password are both correct");
				
				window.setTimeout(function(){
					vwfPortalModel.errorText("");				
				}, 6000);
			}
		});
	};
</script>
<div class="row">
	<div class="col-md-5" style="margin:10px auto;float:none;text-align:center;height:260px;">
		<form data-bind="submit:handleLoginButton" >
			<fieldset>
				<legend style="padding-bottom:5px;">Enter your username and password below</legend>
				<div class="col-md-10" style="margin:0 auto;float:none;">
					<input type='text' id='txtusername' placeholder='Username' class="form-control" /><br/>
					<input type='password' id='txtpassword' placeholder='Password' class="form-control"/><br/>
					<input type="submit" class='btn btn-default' style="float:right;"  value="Submit"/><br/>
					<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
				</div>
			</fieldset>
		</form>
	</div>
</div>