    <script type="text/javascript">
		$(document).ready(function()
		{
			ko.applyBindings(vwfPortalModel); 
			function redirect()
			{
				var ret = window.location.search.substr(window.location.search.indexOf('=')+1);
				window.location = ret.charAt(0) == '/' ? root + ret : root + '/' + ret;
			}
			window.setTimeout(function(){
			$.ajax(root + '/vwfDataManager.svc/sitelogout',
				{
					
					async:false,
					success:function(data,status,xhr)
					{
						
						//already logged in, need to redirect back to target!
						redirect();
					},
					error:function(xhr,status,err)
					{
						
						redirect();
					}
				});
			},1500);
		});	
		
	</script>

	<h1> Virtual World Framework Sandbox Logout</h1>
	<div class="row">
		<div class="col-md-3 col-md-offset-5" style="padding-top:30px;padding-bottom:30px;">Logging out... </div>
    </div>

