<script type="text/javascript">
	
	$(document).ready(function()
	{	
		ko.applyBindings(vwfPortalModel);
		$('#form').submit( function(o, e){
		
			var terms =  $('#txtTerms').val();
			window.location = '{{root}}/searchResults/' + terms +'/0'; 
			o.preventDefault();
		});
	});	
	
</script>
<style>

.searchresult{
display: inline-block;
width: 200px;
height: 150px;
opacity:0;
}
.searchresult img{
width: 180px;
height: 93px;
border-radius: 5px;
box-shadow: 0px 0px 5px #DDD;
background: white;

}	
.worldtitle{
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.count{
	font-size: 10px;
font-weight: bold;
color: lightgray;
}


#results
			{
				margin-left: -200px;
				margin-right: -200px;
			}
@media (max-width: 1420px){
			#gitBanner{
				display: none;
			}
			#results
			{
				margin-left: -200px;
				margin-right: -200px;
			}
		}	
		@media (max-width: 1522px){
			
			#results
			{
				margin-left: -300px;
				margin-right: -300px;
			}
		}			
		@media (max-width: 1220px){
			#logo{
				left: 0;
			}
			
		}		
		@media (max-width: 990px){
			.linkMenu{
				left: 546px;
			}
			#results
			{
				margin-left: 0px;
				margin-right: 0px;
			}
		}	
		@media (max-width: 607px){
			.searchresult{
			height: 120px;
			
			}
		}	
		@media (max-width: 407px){
			.searchresult{
			height: 100px;
			width: 150px;
			
			}
			.searchresult img{
			width: 140px;
			height: 73px;

}	
		}	

</style>
<script type="text/javascript">

$(document).ready(function()
{
	$('#txtTerms').focus();
	var i =0;
	$('.searchresult').each(function(v,obj)
	{

		window.setTimeout(function(){

			$(obj).css('opacity',1);
				$(obj).css('transition','opacity .25s ease-in');

		},i*100);
		i++;

	})


});

</script>
<div id='content' class="row">
	<div class="col-md-5" style="margin:10px auto;float:none;text-align:center;">
		
		{{#search}}
		<legend style="padding-bottom:5px;">{{total}} {{#translate}}Results for{{/translate}} "{{searchterm}}"</legend>
		{{/search}}

		{{#my}}
		<legend style="padding-bottom:5px;">{{#translate}}All These {{/translate}} {{total}} {{#translate}}Worlds are Yours{{/translate}}</legend>
		{{/my}}

		{{#all}}
		<legend style="padding-bottom:5px;">{{#translate}}All Worlds{{/translate}}</legend>
		{{/all}}

		{{#featured}}
		<legend style="padding-bottom:5px;">{{#translate}}Featured Worlds{{/translate}}</legend>
		{{/featured}}

		{{#new}}
		<legend style="padding-bottom:5px;">{{#translate}}Newest Worlds{{/translate}}</legend>
		{{/new}}
		{{#active}}
		<legend style="padding-bottom:5px;">{{#translate}}Active Worlds{{/translate}}</legend>
		{{/active}}
		<div id='results' >
		{{#results}}
			
			<div class='searchresult'>
			<a href = '{{root}}/world/{{shortid}}'>
			<div class='worldtitle'> {{title}} </div>
			<div> <img src="./vwfdatamanager.svc/thumbnail?SID={{id}}" onerror = "this.src = '/adl/sandbox/img/thumbnotfound.png'"></img> </div>
			</a>
			</div>
		{{/results}}
		
		</div>		
		
		
		

		{{#hadprev}}<a href='./{{previous}}' class='' style="margin-right: 497px"  value="" >< {{#translate}}previous{{/translate}}</a><span style="margin-left:0em" />{{/hadprev}}
		{{#next}}<a href='./{{next}}' class='' style=""  value="" >{{#translate}}next{{/translate}} ></a><span style="margin-left:0em" />{{/next}}
		
		{{#search}}
		{{#total}}
			<div class='count' >{{start}} - {{end}} of {{total}}</div>
		{{/total}}
		{{/search}}

		{{#all}}
		{{#total}}
			<div class='count' >{{start}} - {{end}} of {{total}}</div>
		{{/total}}
		{{/all}}

		{{#my}}
		{{#total}}
			<div class='count' >{{start}} - {{end}} of {{total}}</div>
		{{/total}}
		{{/my}}

		{{#featured}}
		{{#total}}
			<div class='count' >{{start}} - {{end}} of {{total}}</div>
		{{/total}}
		{{/featured}}

		<form id='form'>
			<fieldset>
				<div class="col-md-10" style="margin:0 auto;float:none;">
					<input type='text' id='txtTerms' placeholder='{{#translate}}Search terms{{/translate}}' class="form-control" style="display:inline-block;margin-bottom: 1em"/>
					<input type="submit" class='btn btn-default' style="float:right;" id='submitBtn' style="padding: 6px;display:inline-block;width:20%" value="{{#translate}}Search{{/translate}}"/><br/><br/>
					<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
				</div>
				<legend style="padding-bottom:5px;"></legend>
			</fieldset>
			
		</form>
		<legend style="padding-bottom:5px;"></legend>
		<a href='{{root}}/featuredWorlds/0' class='' style=""  value="" >{{#translate}}Featured{{/translate}}</a><span style="margin-left:2em" ></span>
		<a href='{{root}}/allWorlds/0' class='' style=""  value="" >{{#translate}}All Worlds{{/translate}}</a><span style="margin-left:2em" ></span>
		{{#sessionData}}<a href='{{root}}/myWorlds/0' class='' style=""  value="" >{{#translate}}My Worlds{{/translate}}</a><span style="margin-left:2em" ></span>{{/sessionData}}   
		<a href='{{root}}/newWorlds/' class='' style=""  value="" >{{#translate}}New Worlds{{/translate}}</a><span style="margin-left:2em" ></span>
		{{#sessionData}}<a href='{{root}}/createNew/0' class='' style=""  value="" >{{#translate}}Create{{/translate}}</a><span style="margin-left:2em" ></span>{{/sessionData}}   
		<a href='{{root}}/search' class='' style=""  value="" >{{#translate}}Search{{/translate}}</a><span style="margin-left:0em" ></span>
		   
	</div>
</div>