<script type="text/javascript">
	
	$(document).ready(function()
	{	
		ko.applyBindings(vwfPortalModel);
		$('#form').submit( function(o, e){
		
			var terms =  $('#txtTerms').val();
			window.location.href = '{{root}}/searchResults/' + terms + '/0'; 
			o.preventDefault();	
		});
	});	
	
</script>
<div id='content' class="row">
	<div class="col-md-5" style="margin:10px auto;float:none;text-align:center;height:260px;">
		
		<form id='form'>
			<fieldset>
				<legend style="padding-bottom:5px;">{{#translate}}Search{{/translate}}</legend>
				<div class="col-md-10" style="margin:0 auto;float:none;">
					<input type='text' id='txtTerms' placeholder='{{#translate}}Search terms{{/translate}}' class="form-control"  style="display:inline-block;margin-bottom: 1em"/>
					<input type="submit" class='btn btn-default' style="float:right;" id='submitBtn' value="{{#translate}}Search{{/translate}}"  style="padding: 6px;display:inline-block;width:20%"/><br/><br/>
					<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
				</div>
				<legend style="padding-bottom:5px;"></legend>
			</fieldset>
			
		</form>
		<a href='{{root}}/featuredWorlds/0' class='' style=""  value="" >{{#translate}}Featured{{/translate}}</a><span style="margin-left:2em" ></span>
		<a href='{{root}}/allWorlds/0' class='' style=""  value="" >{{#translate}}All Worlds{{/translate}}</a><span style="margin-left:2em" ></span>
		{{#sessionData}}<a href='{{root}}/myWorlds/0' class='' style=""  value="" >{{#translate}}My Worlds{{/translate}}</a><span style="margin-left:2em" ></span>{{/sessionData}}   
		<a href='{{root}}/newWorlds/' class='' style=""  value="" >{{#translate}}New Worlds{{/translate}}</a><span style="margin-left:2em" ></span>
		{{#sessionData}}<a href='{{root}}/createNew/0' class='' style=""  value="" >{{#translate}}Create{{/translate}}</a><span style="margin-left:2em" ></span>{{/sessionData}}   
		<a href='{{root}}/search' class='' style=""  value="" >{{#translate}}Search{{/translate}}</a><span style="margin-left:0em" ></span>
	</div>
</div>