    <script type="text/javascript">
	
		var EncryptPassword = function (password, username,salt)
		{
			var unencrpytedpassword = password + username + salt;
			for (var i = 0; i < 1000; i++) 
			{
				unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
			}
			return unencrpytedpassword;
		}
		
		$(document).ready(function()
		{
			getLoginInfo(redirect, function(){});
			ko.applyBindings(vwfPortalModel);
		});	
		
		function redirect()
		{
			var ret = window.location.search.substr(window.location.search.indexOf('=')+1);
			window.location = ret.charAt(0) == '/' ? root + ret : root + '/' + ret;
		}
		function GUID()
		{
			var S4 = function ()
			{
				return Math.floor(
						Math.random() * 0x10000 /* 65536 */
					).toString(16);
			};

			return (
					S4() + S4() + "-" +
					S4() + "-" +
					S4() + "-" +
					S4() + "-" +
					S4() + S4() + S4()
				);
		}
		vwfPortalModel.handleAccountButton = function(o, e){
		
			var username = $('#txtusername').val();
			var password = $('#txtpassword').val();

			var password2 = $('#txtpasswordconfirm').val();
			
			if(password != password2)
			{

				vwfPortalModel.errorText("Passwords do not match");	

				return;
			}

			var salt = GUID();
			password = EncryptPassword(password,username,salt);
			
			var profile = {};
			
			
			profile.Username = username;
			profile.Password = password;
			profile.Avatar = 'usmale.dae';
			profile.Salt = salt;
			
			$.ajax(root + "/VWFDataManager.svc/CreateProfile?UID=" + profile.Username + "&P=" + profile.Password,
			{
				cache:false,
				data:JSON.stringify(profile),
				type:'POST',
				success:function(data,status,xhr)
				{

					$('#txtusername').val('');
					$('#txtpassword').val('');
					
					$.ajax(root + '/vwfDataManager.svc/sitelogin?UID=' + username +"&P=" + password,
					{
						cache:false,
						success:function(data,status,xhr)
						{
							
							redirect();
						},
						error:function(xhr,status,err)
						{
							
							vwfPortalModel.errorText("Error: Please ensure that all required account information is entered correctly: " + xhr.responseText);
							window.setTimeout(function(){
								vwfPortalModel.errorText("");				
							}, 6000);
						}
					});
			
				},
				error:function(xhr,status,err)
				{
					vwfPortalModel.errorText("Error: Please ensure that all required account information is entered correctly: " + xhr.responseText);
					window.setTimeout(function(){
						vwfPortalModel.errorText("");				
					}, 6000);
				},
				dataType:'text'
			});
		}
	</script>
<div class="row">
	<div class="col-md-5 accountCreation" style="margin: 0 auto; float:none;">
		<form data-bind="submit:handleAccountButton" >
			<fieldset>
				<legend>Required account information</legend>
				<div class='row'>
					<div class="col-md-10" style="margin:0 auto;float:none;">
						<input type='text' id='txtusername' class="form-control" placeholder='Username'/>
						<input type='password' id='txtpassword' class="form-control" placeholder='Password'/>
						<input type='password' id='txtpasswordconfirm' class="form-control" placeholder='Confirm Password'/>
						<input type="submit" class='btn btn-default' style="float:right;"  value="Create Account"/><br/>
						<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
					</div>
				</div>
				<br/><br/>
				<legend>Optional information</legend>
				<div class='row'>
					<div class='col-md-10' style="margin:0 auto;float:none;">
						<input type='text' id='dob' class='input form-control' placeholder='Date Of Birth'/>
						<input type='text' id='location' class='input form-control' placeholder='Sex'/>
						<input type='text' id='relationship' class='input form-control' placeholder='Relationship Status'/>
						<input type='text' id='name' class='input form-control' placeholder='Full Name'/>
						<input type='text' id='location' class='input form-control' placeholder='Location'/>
						<input type='text' id='homepage' class='input form-control' placeholder='Homepage'/>
						<input type='text' id='employer' class='input form-control' placeholder='Employer'/>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>



		
