    <script type="text/javascript">
	

		var EncryptPassword = function (password, username,salt)
		{
			var unencrpytedpassword = password + username + salt;
			for (var i = 0; i < 1000; i++) 
			{
				unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
			}
			return unencrpytedpassword;
		}
		
		$(document).ready(function()
		{
			getLoginInfo(redirect, function(){});
			ko.applyBindings(vwfPortalModel);
		});	
		
		function redirect()
		{
			var ret = window.location.search.substr(window.location.search.indexOf('=')+1);
			window.location = ret.charAt(0) == '/' ? root + ret : root + '/' + ret;
		}
		function GUID()
		{
			var S4 = function ()
			{
				return Math.floor(
						Math.random() * 0x10000 /* 65536 */
					).toString(16);
			};

			return (
					S4() + S4() + "-" +
					S4() + "-" +
					S4() + "-" +
					S4() + "-" +
					S4() + S4() + S4()
				);
		}
		function validateEmail(email) { 
		    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    return re.test(email);
		} 
		function validatePassword(password)
		{
			if (password.length < 8)
			  return 'Password must contain at least 8 characters.'
			var hasUpperCase = /[A-Z]/.test(password);
			var hasLowerCase = /[a-z]/.test(password);
			var hasNumbers = /\d/.test(password);
			var hasNonalphas = /\W/.test(password);
			if (hasUpperCase + hasLowerCase + hasNumbers !== 3)
			  return 'Password must contain a number, a lower case and an upper case letter.'
			return true;
		}
		function validateUsername(password)
		{
			if (password.length < 3)
			  return 'Username should be more than three characters'
			if (password.length > 20)
			  return 'Username should be less than 20 characters'
			
			var hasNonalphas = /\W/.test(password);
			if (hasNonalphas)
			  return 'Username should contain only letters and numbers'
			return true;
		}
		vwfPortalModel.handleAccountButton = function(o, e){
		
			var username = $('#txtusername').val();
			var password = $('#txtpassword').val();
			var email = $('#txtemail').val();



			var password2 = $('#txtpasswordconfirm').val();
			
			if(password != password2 )
			{

				vwfPortalModel.errorText("Passwords do not match");	
				return;
			}

			if(validatePassword(password) !== true)
			{
				vwfPortalModel.errorText(validatePassword(password));	
				return;
			}

			if(validateUsername(username) !== true)
			{
				vwfPortalModel.errorText(validateUsername(username));	
				return;
			}

			if(!validateEmail(email))
			{
				vwfPortalModel.errorText("Invalid Email");	
				return;
			}

			var salt = GUID();
			password = EncryptPassword(password,username,salt);
			
			var profile = {};
			
			
			profile.Username = username;
			profile.Email = email;
			profile.Password = password;
			profile.Avatar = 'usmale.dae';
			profile.Salt = salt;
			
			$.ajax(root + "/VWFDataManager.svc/CreateProfile?UID=" + profile.Username + "&P=" + profile.Password,
			{
				cache:false,
				data:JSON.stringify(profile),
				type:'POST',
				contentType: "application/json; charset=utf-8",
				success:function(data,status,xhr)
				{

					$('#txtusername').val('');
					$('#txtpassword').val('');
					

					var formData = new FormData();
					formData.append('username', username);
					formData.append('password', password);

					var xhr = new XMLHttpRequest();
					xhr.open("POST", "../../auth/local");
					xhr.addEventListener("load",function(xhr)
					{
						if(xhr.target.status === 301 || xhr.target.status === 302 || xhr.target.status === 200)
						{
							$('#txtusername').val('');
							$('#txtpassword').val('');
							redirect();
						}else
						{
							vwfPortalModel.errorText("Error: Please ensure that all required account information is entered correctly: " + xhr.responseText);
							window.setTimeout(function(){
								vwfPortalModel.errorText("");				
							}, 6000);
						}
						
					});
					xhr.addEventListener("error",function()
					{
						vwfPortalModel.errorText("Error: Please ensure that all required account information is entered correctly: " + xhr.responseText);
							window.setTimeout(function(){
								vwfPortalModel.errorText("");				
							}, 6000);

					},false);

					xhr.send(formData);


					
			
				},
				error:function(xhr,status,err)
				{
					vwfPortalModel.errorText("Error: Please ensure that all required account information is entered correctly: " + xhr.responseText);
					window.setTimeout(function(){
						vwfPortalModel.errorText("");				
					}, 6000);
				},
				dataType:'text'
			});
		}
	</script>
<div id='content' class="row">
	<div class="col-md-5 accountCreation" style="margin: 0 auto; float:none;">
		<form data-bind="submit:handleAccountButton" >
			<fieldset>
				<legend>{{#translate}}Required account information{{/translate}}</legend>
				<div class='row' style="margin:10px auto;float:none;text-align:center;height:260px;">
					<div class="col-md-10" style="margin:0 auto;float:none;">
						<input type='text' id='txtusername' class="form-control" placeholder='{{#translate}}Username{{/translate}}'/>
						<input type='password' id='txtpassword' class="form-control" placeholder='{{#translate}}Password{{/translate}}'/>
						<input type='password' id='txtpasswordconfirm' class="form-control" placeholder='{{#translate}}Confirm Password{{/translate}}'/>
						<input type='text' id='txtemail' class="form-control" placeholder='{{#translate}}Email{{/translate}}'/>
						<input type="submit" class='btn btn-default' style="float:right;"  value="{{#translate}}Create Account{{/translate}}"/><br/>
						<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
					</div>
				</div>
				<br/><br/>
				<legend>{{#translate}}Optional information{{/translate}}</legend>
				<div class='row' style="margin:10px auto;float:none;text-align:center;height:260px;">
					<div class='col-md-10' style="margin:0 auto;float:none;">
						<input type='text' id='dob' class='input form-control' placeholder='{{#translate}}Date Of Birth{{/translate}}'/>
						<input type='text' id='sex' class='input form-control' placeholder='{{#translate}}Sex{{/translate}}'/>
						<input type='text' id='relationship' class='input form-control' placeholder='{{#translate}}Relationship Status{{/translate}}'/>
						<input type='text' id='name' class='input form-control' placeholder='{{#translate}}Full Name{{/translate}}'/>
						<input type='text' id='location' class='input form-control' placeholder='{{#translate}}Location{{/translate}}'/>
						<input type='text' id='homepage' class='input form-control' placeholder='{{#translate}}Homepage{{/translate}}'/>
						<input type='text' id='employer' class='input form-control' placeholder='{{#translate}}Employer{{/translate}}'/>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>



		
