<script type="text/javascript">
	var EncryptPassword = function (password, username,salt)
	{
		
		var unencrpytedpassword = password + username + salt; 
		for (var i = 0; i < 1000; i++)
		{
			unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
		}
		
		return unencrpytedpassword;
		
	}
	function validatePassword(password)
	{
		if (password.length < 8)
		  return 'Password must contain at least 8 characters.'
		var hasUpperCase = /[A-Z]/.test(password);
		var hasLowerCase = /[a-z]/.test(password);
		var hasNumbers = /\d/.test(password);
		var hasNonalphas = /\W/.test(password);
		if (hasUpperCase + hasLowerCase + hasNumbers !== 3)
		  return 'Password must contain a number, a lower case and an upper case letter.'
		return true;
	}
	$(document).ready(function()
	{
		
		ko.applyBindings(vwfPortalModel);
		
		$('#submitBtn').click( function(o, e){
		
			
			var password = $('#txtNewPassword').val();
			var passwordconfirm = $('#txtNewPasswordConfirm').val();
			
			if(password != passwordconfirm)
			{
				vwfPortalModel.errorText("Passwords do not match.");	
				return;
			}

			if(validatePassword(password) !== true)
			{
				vwfPortalModel.errorText(validatePassword(password));	
				return;
			}

			{{#sessionData}}

			var salt = $.ajax( root + '/vwfDataManager.svc/salt?UID={{UID}}',{async:false}).responseText;
			password = EncryptPassword(password,'{{UID}}',$.trim(salt));

			{{/sessionData}}

			$.ajax(root + '/vwfDataManager.svc/updatePassword?P=' + password,
			{
				cache:false,
				success:function(data,status,xhr)
				{
					$('#txtNewPasswordConfirm').val('');
					$('#txtNewPassword').val('');
					redirect();
				},
				error:function(xhr,status,err)
				{
					$('#txtNewPassword').val('');
					$('#txtNewPasswordConfirm').val('');
					vwfPortalModel.errorText("Error: Please ensure your username and password are both correct");
					
					window.setTimeout(function(){
						vwfPortalModel.errorText("");				
					}, 6000);
				}
			});
		});
	});	
	
	function redirect()
	{
		//window.location = vwfPortalModel.returnVal;
		window.location = "/";
	}
	
	
</script>
<div id='content' class="row">
	<div class="col-md-5" style="margin:10px auto;float:none;text-align:center;height:260px;">
		<form >
			<fieldset>
				<legend style="padding-bottom:5px;">{{#translate}}Enter your new password below{{/translate}}</legend>
				<div class="col-md-10" style="margin:0 auto;float:none;">
					<input type='password' id='txtNewPassword' placeholder='{{#translate}}New Password{{/translate}}' class="form-control"/><br/>
					<input type='password' id='txtNewPasswordConfirm' placeholder='{{#translate}}Confirm New Password{{/translate}}' class="form-control"/><br/>
					<input type="button" class='btn btn-default' style="float:right;" id='submitBtn' value="{{#translate}}Submit{{/translate}}"/><br/>
					<p class="help-block" style="width:100%;margin-top:20px;" data-bind="visible:errorText,text:errorText"></p>
				</div>
				<legend style="padding-bottom:5px;"></legend>
			</fieldset>
		</form>
	</div>
</div>