<script type="text/javascript">
	
$(document).ready(function()
	{	
		$(document.body).css('overflow','');
	});	

	
	
</script>
<style>
.welcomeSection
{
   margin-bottom:3em;
}
.sectionTitle
{
font-size: 3em;
text-align: left;
border-bottom: 1px solid #AAA;
font-family: monospace;
}
.sectionDescription
{
text-align: left;
color: #AAA;

}
.sectionImage img
{
width: 100%;
vertical-align: baseline;

}
.sectionImage
{
	display: inline-block;
width: 20%;
display:none;
}
.sectionText
{
display: inline-block;
width: 78%;
vertical-align: top;
margin-left: 1%;
}
</style>
<div id='content' class="row">
	<div class="col-md-8" style="margin:10px auto;float:none;text-align:center;">
		
		<div id="pageLogo">
					<div id="logo">
						<a href="/adl/sandbox">
							<div style=" float:left;">
								<img src="/adl/sandbox/img/VWS_Logo.png">
							</div>
							<div style=" margin-left:10px;margin-top:50px;float:left;">
								<img src="/adl/sandbox/img/VW_text.png">
								<img src="/adl/sandbox/img/Sandbox_text.png">
							</div>
						</a>
					</div>
					
				</div>


		<div class='welcomeSection'>
		<div class='sectionImage'>
				<img src="/adl/sandbox/img/screenshot.jpg" ></img>
			</div>
			<div class='sectionText'>
			<div class='sectionTitle'>What is the Sandbox?</div>
			<div class='sectionDescription'>
				The Sandbox is a multi-user, collaborative, open source virtual environment that lives in the cloud.
				We allow uses to create 'worlds' where they can interact, play, and build. Our system comes with 
				a set of authoring tools that allow you to build games or simulations and share them with the world. 
			</div>
			</div>
		</div>
		<div class='welcomeSection'>
			<div class='sectionImage'>
				<img src="/adl/sandbox/img/screenshot.jpg" ></img>
			</div>
			<div class='sectionText'>
			<div class='sectionTitle'><a href='./featuredWorlds/0'>Worlds</a></div>
			<div class='sectionDescription'>Browse Worlds. The Sandbox allows you to create your very
			own world. Our servers will save and track your world, allowing you to access it from anywhere. 
			Worlds can be games, simulations, even scientific visualizations. Or, you could just build a place
			to hang out. You can use our in-browser editing tools to build or import 3D models and add behaviors 
			or scripts. The Sandbox authoring environment includes a wide vareity of features to help you be
			creative. Worlds are even multi-player, so you can join other users or invite them to collaborate with you.</div>
			</div>
		</div>
		<div class='welcomeSection'>
			<div class='sectionImage'>
				<img src="/adl/sandbox/img/screenshot.jpg" ></img>
			</div>
			<div class='sectionText'>
			<div class='sectionTitle'><a href="./examples">Examples</a></div>
			<div class='sectionDescription'>Browse all samples. These sample environments demonstrate 
			many features of the platform, and serve as test cases as well. Most sample environments 
			are 'Published', meaning that the database will not track changes to the worlds. Many are 'Single Player',
			so you won't be running into anyone else while you check them out. Also, since they are single player,
			you can interact without logging in. </div>
			</div>
		</div>
		<div class='welcomeSection'>
			<div class='sectionImage'>
				<img src="/adl/sandbox/img/screenshot.jpg" ></img>
			</div>
			<div class='sectionText'>
			<div class='sectionTitle'><a href="http://vwf.adlnet.gov/r/documentation/tutorials/building-a-game-in-the-virtual-world-sandbox/">Tutorial</a></div>
			<div class='sectionDescription'>We've created a tutorial to help get you started. If you follow
			carefully, you'll end up with your very own video game that you can share with other. This is definitely
			recommended ready for anyone looking to start developing simulations right on the Web in real time.</div>
			</div>
		</div>
		<div class='welcomeSection'>
			<div class='sectionImage'>
				<img src="/adl/sandbox/img/screenshot.jpg" ></img>
			</div>
			<div class='sectionText'>
			<div class='sectionTitle'><a href="github.com/adlnet/vwf">Help Us!</a></div>
			<div class='sectionDescription'>We're at an exciting point. With almost 500 users, we can mine user 
			interactions for bugs and performance information. Since this is an open source project, we need all the 
			help we can git! Check out on GitHub. Please don't be shy about filing bugs or feature requests.</div>
			</div>
		</div>
		<div class='welcomeSection'>
			<div class='sectionImage'>
				<img src="/adl/sandbox/img/screenshot.jpg" ></img>
			</div>
			<div class='sectionText'>
			<div class='sectionTitle'>Contact</div>
			<div class='sectionDescription'>For all software questions like bugs or feature requests, please use GitHub. For
			other questions, media inquiries or support, please contact <a href='mailto:robert.chadwick.ctr@adlnet.gov'> Rob Chadwick </a> from <a href='www.adlnet.gov'> ADL </a> </div>
			</div>
		</div>


		
	</div>
</div>