	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4" style="text-align:left;">
					<div class="row"> 
						<div style="float: left;padding-left:15px;" data-bind="visible:user().isLoggedIn">
						<!-- Split button -->
							<div class="btn-group">
							  <button type="button" class="btn btn-default" data-toggle="dropdown" data-bind="text:dropDownMap[currentDropDown()]">All worlds</button>
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu" role="menu" data-bind="foreach:Object.keys(dropDownMap)">
								<li><a data-bind="text:$root.dropDownMap[$data], click: $root.toggleNameFilter, css:$data==$root.currentDropDown()?'dropdown-selected':''" href="">All worlds</a></li>
							  </ul>
							</div>
						</div>
						<div style="float:left;margin-left:10px;">
							<a href="{{root}}/create" id="newinstancebutton" data-bind="visible:user().isLoggedIn">
								<span class="btn btn-default" style="width:100%;">Create World</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-3" style="margin-bottom:5px;text-align:right;float:right;" data-bind="visible:!initialSearchDisplay()">
					<input class="form-control filter" type="text" placeholder="Search Worlds" data-bind="value:filterVal, valueUpdate:'afterkeydown'" />
				</div>
			</div>
			<div class="row" style="margin-top:45px;margin-bottom:70px;" data-bind="visible:(displayWorldObjects().length==0) || initialSearchDisplay()">	
				<div class="col-md-4 col-md-offset-4" style="text-align:center;">
					<p style="font-weight:bold;" data-bind="visible:filter().length > 0">No worlds found, please try again</p>
					<div style="font-weight:bold;" data-bind="visible:initialSearchDisplay">
						<p data-bind="visible:filter().length==0">Enter a search term</p>
						<input class="form-control filter" type="text" placeholder="Search Worlds" data-bind="value:filterVal, valueUpdate:'afterkeydown'" />
					</div>		
					<p style="font-weight:bold;" data-bind="visible:filter().length == 0 && displayWorldObjects().length==0 && !initialSearchDisplay()">There are no featured worlds to display, please try searching.</p>
				</div>
			</div>
			<div class="row" id="activeRow" data-bind="foreach:displayWorldObjects">				
				<div data-bind="visible:isVisible" class="col-md-3 worldHeightPadding">
					<div data-bind="event: {mouseover:$root.handleEditDisplay, mouseout:$root.handleEditDisplay}, css: $data.featured?'featuredInstance':'worldBox'">
						
						<div class="boxContentWrapper">
							<div style="margin-bottom: 10px;">
								<a data-bind="attr:{href:'{{root}}/'+id}, text:$root.getShorterStr(title, 20)" href="">Title</a>
								<span class="owner" data-bind="text:' - ' + owner"></span>
							</div>
							<img data-bind="attr:{src:'{{root}}/vwfDataManager.svc/thumbnail?SID=' + id + ''}" class="worldImage" onerror="this.src = './img/thumbnotfound.png';"/>
							<div class="worldInfo">
								<a data-bind="attr:{href:'{{root}}/'+id}" style="text-decoration:none;">
									<span class="description" data-bind="text:description?$root.getShorterStr(description, 75):'No description'"></span>
									
									<div style="margin-top: 5px;" data-bind="visible:!$data.featured">
										<span class="objects" data-bind="text: objects + (objects == 1 ? ' object ' : ' objects ')"></span>
										&nbsp;<span class="lastModified stateid" data-bind="text:' (' + lastUpdate + ')' "></span>
									</div>
								</a>
							</div>
						</div>
						<div data-bind="css:$data.featured?'editstate' : 'editstateGuest'">
							<!--<span class="glyphicon glyphicon-star" data-bind="attr:{href:'{{root}}/'+id}, visible:$data.featured && !hotState"></span>-->
							<a class="loadWorld activeWorld" data-bind="attr:{href:'{{root}}/'+id}, visible:hotState">Active</a>
							
							
							<div style="border-left:1px solid #e7e7e7;float:right;height:18px;width:120px;" data-bind="visible:$root.user().isLoggedIn && ($root.user().username == $data.owner || $root.user().isAdmin) && editVisible">
								<a title="Delete World" class="editstatedelete glyphicon glyphicon-remove" data-bind="attr:{href:'{{root}}/'+'remove?id='+id}"></a>
								<a title="Edit World" class="editstatedata glyphicon glyphicon-pencil" data-bind="attr:{href:'{{root}}/'+'edit?id='+id}"></a>
								<a title="Publish World" class="editstatedata glyphicon glyphicon-print" data-bind="attr:{href:'{{root}}/'+'publish?id='+id}"></a>								
							</div>
							<div data-bind="visible:$root.user().isLoggedIn && editVisible">
								<a title="Clone World" class="editstatecopy glyphicon glyphicon-export" data-bind="click:$root.cloneWorld" style="margin-right:18px;"></a>
								
							</div>
							<div data-bind="visible:editVisible">
								
								<a title="World History" class="editstatecopy glyphicon glyphicon-time" data-bind="attr:{href:'{{root}}/'+'history?id='+id}" style="margin-right:18px;"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom:45px;">
				<div class="col-md-1 col-md-offset-4" style="text-align:right;">
					<a class="btn btn-default" data-bind="click:getPreviousPage, css:previousDisabled()?'disabled btn btn-default':'btn btn-default'"><i class="glyphicon glyphicon-chevron-left"></i></a>
				</div>				
				<div class="col-md-1 col-md-offset-2">
					<a class="btn btn-default" data-bind="click:getNextPage, css:nextDisabled()?'disabled btn btn-default':'btn btn-default'"><i class="glyphicon glyphicon-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){	
			
			vwfPortalModel.cloneWorld = function(world){
				alertify.confirm("Copy this world?", function(e){
					if(e){
						
						$.get(root + '/vwfDataManager.svc/copyinstance?SID=' + world.id, function(o){
			
							if(o){
								window.location = root + '/edit?id=' + o.substr(13,16);
							}

							else{
								alertify.error("World was not successfully copied.");
							}
						})
						.error(function(){
							alertify.error("World was not successfully copied.");
						});
					}
				});	
			};
			
			ko.applyBindings(vwfPortalModel);
			getLoginInfo(function(){
				
				$('.filter').val(window.location.hash.substr(1));
				$('.filter').keydown();
				showStates();

				window.setInterval(function(){
					showStates();
				},15000);
			});
		});
	</script>
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'vwfsandbox'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
	
	
	